In [1]:
import pandas as pd

TypeError: read_csv() got an unexpected keyword argument 'columns'

In [10]:
df.head()

        0   1  2  3  4
0  가락고등학교  서울  1  1  2
1  가림고등학교  인천  3  0  3
2  가온고등학교  경기  0  1  1
3  가평고등학교  경기  1  0  1
4  강동고등학교  서울  1  0  1

In [ ]:
df