In [0]:
%pyspark
from pyspark.sql.functions import col


region_code = spark.read.format("csv").option("header", "true").load("/지역.csv")


region_code = region_code.select(
    col('법정동코드'),
    col('시도명'),
    col('법정동명')
    )

region_code.show(50)

In [1]:
%pyspark
user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="지역"



test_df = spark.read.format("jdbc").option("user", user).option("password", password)\
.option("url", url).option("driver", driver).option("dbtable", dbtable).load()


test_df.show()

#region_code.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})

test_df.show()

In [2]:
%pyspark
from pyspark.sql.functions import *

user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="지하철"



sub = spark.read.csv("/Data/주변환경_Data/최종본_전국지하철역목록.csv",header=True)
sub = sub.withColumn('법정동코드', (sub.법정동코드/100000).cast("int"))
sub = sub.select(
    col('_c0'),
    col('역번호'),
    col('역사명').alias('지하철역사명'),
    col('노선명'),
    col('노선번호'),
    col('환승역구분'),
    col('환승노선개수'),
    col('환승노선번호'),
    col('환승노선명'),
    col('법정동코드'),
    )




sub = sub.na.fill("-")


sub=sub.dropDuplicates(['지하철역사명','역번호','법정동코드']).sort('역번호')


sub = sub.select(
    col('_c0').alias('지하철역번호'),
    col('지하철역사명'),
    col('노선명'),
    col('노선번호'),
    col('환승역구분'),
    col('환승노선개수'),
    col('환승노선번호'),
    col('환승노선명'),
    col('법정동코드'),
    )
    
    
    

sub.write.option("header", "true").csv("hdfs:///지하철.csv")


#sub.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})

In [3]:
%pyspark
from pyspark.sql.functions import *

user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="버스정류장"

test_df = spark.read.format("jdbc").option("user", user).option("password", password)\
.option("url", url).option("driver", driver).option("dbtable", dbtable).load()

df1 = spark.read.csv("/Data/주변환경_Data/final_in_spark/fin_bus_01.csv")
df2 = spark.read.csv("/Data/주변환경_Data/final_in_spark/fin_bus_02.csv")



result = df1.union(df2)

fin=result.rdd.zipWithIndex().toDF()
final=fin.select(col("_1.*"),col("_2").alias('increasing_id'))



final = final.select(
    col('increasing_id').alias('버스정류장ID'),
    col('_c0').alias('버스정류장명'),
    col('_c1').alias('법정동코드')
    )
    

#final.show()

final.write.option("header", "true").csv("hdfs:///버스정류장.csv")
#final.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})

In [4]:
%pyspark
user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="유흥업소"

test_df = spark.read.format("jdbc").option("user", user).option("password", password)\
.option("url", url).option("driver", driver).option("dbtable", dbtable).load()

upso = spark.read.csv('/Data/주변환경_Data/최종본_유흥시설목록.csv',header=True)


upso = upso.withColumn('법정동코드', (upso.법정동코드/100000).cast("int"))

test_df.show()


upso = upso.select(
    col('_c0').alias('유흥업소ID'),
    col('법정동코드'),
    col('사업장명'),
    col('업태구분명').alias('구분명'))
    
upso.write.option("header", "true").csv("hdfs:///유흥업소.csv")
#upso.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})

In [5]:
%pyspark
from pyspark.sql.functions import col
user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="학군"


school_region = spark.read.format("csv").option("header", "true").load("/학군.csv")

#school_region=school_region('중학교학업중단자수').alias('중학교_학업중단자수')
school_region = school_region.select(
    col('_c0').alias('학군ID'),
    col('법정동코드'),
    col('중등교원총계'),
    col('중등학령인구'),
    col('중학교학업중단자수').alias('중학교 학업중단자수'),
    col('고등학교학업중단자수').alias('고등학교 학업중단자수'),
    col('비평준화여부')
    )

school_region.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})
school_region.show()

In [6]:
%pyspark
from pyspark.sql.functions import col
user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="유초등학교"

primary = spark.read.format("csv").option("header", "true").load("/유초등학교.csv")

primary = primary.select(
     col('_c0').alias('학교ID'),
    col('유초등학교명'),
    col('학교종류')
)



primary.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})
primary.show()

In [7]:
%pyspark
from pyspark.sql.functions import col
user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="교육청"

education_center = spark.read.format("csv").option("header", "true").load("/교육청.csv")

education_center = education_center.select(
    col('교육청코드'),
    col('교육청명'),
    col('시도명'),
    col('예산'),
)



education_center.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})
education_center.show()

In [8]:
%pyspark

from pyspark.sql.functions import col
user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="중학교"

middle = spark.read.format("csv").option("header", "true").load("/중학교.csv")

middle =middle.select(
     col('_c0').alias('학교ID'),
    col('중학교명'),
    col('학교종류'),
    col('주소'),
    col('특목고진학자수')
)



middle.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})
middle.show(5)

In [9]:
%pyspark
from pyspark.sql.functions import col
user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="고등학교"

high = spark.read.format("csv").option("header", "true").load("/고등학교.csv")

high =high.select(
    col('_c0').alias('학교ID'),
    col('고등학교명'),
    col('학교종류'),
    col('주소'),
    col('서울대합격자수')
)



high.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})
high.show()

In [10]:
%sql

SELECT * FROM subway WHERE `환승노선명` == '-' AND `환승노선번호` == '-'

In [11]:
%%sql

In [12]:
%pyspark
from pyspark.sql.functions import col
user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="학원"


aca_region = spark.read.format("csv").option("header", "true").load("/학원.csv")

aca_region = aca_region.select('*')    

aca_region.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})
aca_region.show()

In [13]:
%pyspark
from pyspark.sql.functions import col
user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="강사"

tut_region = spark.read.format("csv").option("header", "true").load("/강사.csv")

tut_region = tut_region.select('*')    

tut_region.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})
z.show(tut_region)

%pyspark