%pyspark

In [1]:
%pyspark

from pyspark.sql.functions import col

rd1 = spark.read.format("csv").option("header", "true").load("../../Data/법정동_Data/법정동코드_최종본.csv")

df1 = rd1.select(col("법정동코드").substr(0,5).alias("법정동코드"), col("법정동_short").alias("법정동명"))

df1.show()

In [2]:
%pyspark
df1.filter(col("법정동명").contains("세종")).show()
df1.filter(col("법정동명").contains("성남")).show()

In [3]:
%pyspark

rd2 = spark.read.format("csv").option("header", "true").load("../../Data/가구_Data/연말정산 근로 소득 신고 인원 및 금액(16-19).csv")

rd2.printSchema()

rd2.show(10)

In [4]:
%pyspark

rd2_ = rd2.select(col("행정구역"), col("2017 급여총계 인원 (명)").alias("급여인원"), (col("2017 급여총계 금액 (백만원)")*1000000).alias("급여금액"))

rd2_.show(10)

In [5]:
%pyspark

from pyspark.sql.functions import concat, lit

df2_ = rd2_.withColumn("행정구역", concat(col("행정구역").substr(0,2), lit(" "), col("행정구역").substr(3,6)))

df2_ = df2_.filter(col("행정구역").contains("세종") | ~col("행정구역").contains("소계"))

df2 = df2_.select(col("행정구역").alias("법정동명"), col("급여인원"), col("급여금액"))

df2.show(5)

In [6]:
%pyspark

from pyspark.sql.functions import when

df2.filter(col("법정동명").contains("세종")).show()

df2 = df2.withColumn("법정동명", when(col("법정동명") == "세종 소계", "세종특별자치시").otherwise(col("법정동명")))

df2.filter(col("법정동명").contains("세종")).show()

df2.filter(col("법정동명").contains("성남")).show()

In [7]:
%pyspark

rd3 = spark.read.format("csv").option("header", "true").load("../../Data/가구_Data/시군구별 건강보험료(16-18).csv")

rd3.printSchema()

rd3.show(10)

In [8]:
%pyspark

df3 = rd3.select(col("법정동명"), col("2017").alias("건강보험료"))

df3.show()

In [9]:
%pyspark

df3.filter(col("법정동명").contains("세종")).show()

df3 = df3.withColumn("법정동명", when(col("법정동명") == "세종 소계", "세종특별자치시").otherwise(col("법정동명")))

df3.filter(col("법정동명").contains("세종")).show()

df3.filter(col("법정동명").contains("성남")).show()

In [10]:
%pyspark

jdata = df1.join(df2, "법정동명").join(df3, "법정동명")

jdata.show()

f_data_table_ = jdata.select(col("법정동코드"), col("건강보험료"), col("급여인원"), col("급여금액"))

f_data_table_.show()

In [11]:
%pyspark
f_data_table_.filter(col("법정동명").contains('세종')).show()

f_data_table_.filter(col("법정동명").contains('성남')).show()

In [12]:
%pyspark

tmp1 = f_data_table_.rdd.zipWithIndex().toDF()
tmp1.show(truncate=False)
tmp2 = tmp1.select(col("_1.*"),col("_2").alias('가구ID'))
tmp2.show()

In [13]:
%pyspark

f_data_table = tmp2.select(col("가구ID").cast("int"), col("법정동코드").cast("int"), col("건강보험료").cast("double"), col("급여인원").cast("int"), col("급여금액"))

In [14]:
%pyspark

f_data_table.show()

f_data_table.printSchema()

In [15]:
%pyspark

f_data_table.printSchema()

f_data_table.count()

In [16]:
%pyspark

f_data_table.write.option("header", "true").csv("hdfs:///가구.csv")

In [17]:
%pyspark

ttp1 = spark.read.format("csv").option("header", "true").load("/가구.csv")

ttp1.show()

In [18]:
%pyspark
ttp1.count()

In [19]:
%pyspark

user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="가구"

test_df = spark.read.format("jdbc").option("user", user).option("password", password).option("url", url).option("driver", driver).option("dbtable", dbtable).load()

test_df.show()

test_df.printSchema()

In [20]:
%pyspark

user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="가구"

ftable = spark.read.csv("/가구.csv", header=True)
ftable.show()

ftable.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})

In [21]:
%pyspark

user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="가구"

ftable_df = spark.read.format("jdbc").option("user", user).option("password", password).option("url", url).option("driver", driver).option("dbtable", dbtable).load()

ftable_df.show()

ftable_df.printSchema()

In [22]:
%pyspark

ftable = spark.read.csv("/가구.csv", header=True)
ftable.show()

In [23]:
%pyspark

ftable.createOrReplaceTempView("ftable")

ftable.show()

%pyspark

In [25]:
%sql

select *
from ftable
order by `법정동코드`

In [26]:
%sql

select count(distinct(`법정동코드`))
from ftable

In [27]:
%sql
select `법정동코드`, `총급여금액`/`총급여수` as `평균근로소득`
from(
    select `법정동코드`, `급여인원` as `총급여수`, cast(`급여금액` as double) as `총급여금액`
    from ftable
)

In [28]:
%%sql

In [29]:
%pyspark

tttt1 = spark.read.format("csv").option("header", "true").load("../../Data/법정동_Data/법정동코드_최종본.csv")

tttt1.show()

In [30]:
%pyspark

placecsv = spark.read.format("csv").option("header", "true").load("../../Data/Final_CSV/지역.csv")

placecsv.createOrReplaceTempView("place")

%pyspark

In [32]:
%sql
select * from place

In [33]:
%sql

select *
from place
where `법정동코드` = 41130

In [34]:
%sql
select * 
from ftable
where `건강보험료` is null

In [35]:
%%sql

In [36]:
%sql

select `시도명`, `총인원`, `총금액`, round(`총금액`/`총인원`) as `평균근로소득`
from(
select `시도명`, sum(`급여인원`) as `총인원`, sum(`급여금액`) as `총금액`
from(
    select `법정동코드`, `시도명`, `법정동명`, `급여인원`, `급여금액`
    from place OUTER JOIN ftable using(`법정동코드`)
)
group by `시도명`
)
order by `시도명`

In [37]:
%sql

select `법정동코드`, `시도명`, `법정동명`, `급여인원`, `급여금액`
from place OUTER JOIN ftable using(`법정동코드`)
where `시도명` = '서울특별시'

In [38]:
%sql

select `법정동코드`, `법정동명`, round(`급여금액` / `급여인원`) as `평균근로소득`
from(
    select `법정동코드`, `시도명`, `법정동명`, `급여인원`, `급여금액`
    from place OUTER JOIN ftable using(`법정동코드`)
    where `시도명` = '서울특별시'
)
order by `법정동명`

In [39]:
%%sql