#### 현재데이터 : 9월13일 크롤링데이터 -> 매일 크롤링하게 변경해야함
#### 처리해야할 작업
    1. 매일 크롤링한 csv 전체 다 가져오기
    2. 최종테이블 저장 : 필요한컬럼- 법정동명(local), 학원명(academy_name),과목명(subject)

#### 알고자 하는 내용
    - 채용공고가 자주 올라오는 학원이름
    
#### 생각해봐야할 내용
    - 어떻게 계속 spark로 df 만드는걸 반복적으로 수행할지
    - 어떻게 계속 mysql에 저장할지
    - 어떻게 크롤링한 데이터에서 count를 할지
    - 중복되는 공고는 어떻게 처리해야할지?

#### 1. all_df : 크롤링한 csv전체 합침

In [2]:
%pyspark
all_df = spark.read.csv('/Data/학원_Data/강사_채용정보/',header='True')
z.show(all_df)

In [3]:
%pyspark
#컬럼명정리
from pyspark.sql.functions import col
tut_df = all_df.select(
    col("academy_name").alias("학원명"),
    col("local").alias("법정동명"),
    col("subject").alias("과목명"))
z.show(tut_df)

In [4]:
%pyspark
tut_df.count() #573+550 = 1123

In [5]:
%pyspark
tut_df_1=tut_df.rdd.zipWithIndex().toDF()
tut_df=tut_df_1.select(col("_1.*"),col("_2").alias("강사채용ID"))
z.show(tut_df)

In [6]:
%pyspark
z.show(tut_df)

In [7]:
%pyspark
# 테이블저장
tut_df.write.csv("hdfs:///강사.csv",header='True')

In [8]:
%pyspark
tut_df.printSchema()

In [9]:
%pyspark
tut_df.createOrReplaceTempView("all_tutor")

#### 2. 시각화

In [11]:
%sql
select * from all_tutor

In [12]:
%sql
select `법정동명`, count(`학원명`) from all_tutor group by `법정동명` order by count(`학원명`) desc

In [14]:
%sql
select * from all_tutor where `학원명` == '황은영국어 2관'

In [15]:
%sql
select count(distinct(academy_name)) from all_tutor -- 전체row수 1123, 중복 제거한 학원이름개수 661 = 중복되는게 존재

In [16]:
%sql
select academy_name,count(academy_name) from all_tutor group by academy_name

In [17]:
%sql
select * from all_tutor where academy_name = '황은영국어 2관' -- 중복되는 채용공고

#### 2. 최종테이블 저장 : 필요한컬럼- 법정동명(local), 학원명(academy_name),과목명(subject)

In [19]:
%pyspark
from pyspark.sql.functions import concat, col, lit
df_fin = all_df.select(col('local').alias('법정동명'),col('academy_name').alias('학원명'),col('subject').alias('과목명'))
df_fin.show()

In [20]:
%pyspark
df_fin.createOrReplaceTempView("tutor_local_final")

In [21]:
%sql
select * from tutor_local_final

In [22]:
%sql
select count(distinct(`법정동명`)) from tutor_local_final

In [23]:
%sql
select `법정동명`,count(`학원명`) as `강사채용 학원수` from tutor_local_final group by `법정동명` order by `강사채용 학원수` desc

%pyspark