In [0]:
%pyspark

rd1 = spark.read.format("csv").option("header", "true").load("../../Data/가구_Data/raw_Data/아파트매매데이터_11110,41190/*")

rd2 = spark.read.format("csv").option("header", "true").load("../../Data/가구_Data/raw_Data/아파트매매데이터_41210,45740/*")

rd3 = spark.read.format("csv").option("header", "true").load("../../Data/가구_Data/raw_Data/아파트매매데이터_45750,50130/*")

In [1]:
%pyspark

rd1.show(5)

rd1.printSchema()

rd1.count()

In [2]:
%pyspark

from pyspark.sql.functions import concat, lpad, col, lit

df1 = rd1.select(col("법정동시군구코드").alias("법정동코드"), col("거래금액"), col("건축년도"), concat(col("년"), lit("-"), lpad(col("월"),2,"0"), lit("-"), lpad(col("일"), 2, "0")).alias("계약날짜"), col("아파트").alias("아파트명"), col("전용면적").alias("면적"), col("층"))

df1.show()
df1.count()

In [3]:
%pyspark

df2 = rd2.select(col("법정동시군구코드").alias("법정동코드"), col("거래금액"), col("건축년도"), concat(col("년"), lit("-"), lpad(col("월"),2,"0"), lit("-"), lpad(col("일"), 2, "0")).alias("계약날짜"), col("아파트").alias("아파트명"), col("전용면적").alias("면적"), col("층"))

df2.show()
df2.count()

In [4]:
%pyspark

df3 = rd3.select(col("법정동시군구코드").alias("법정동코드"), col("거래금액"), col("건축년도"), concat(col("년"), lit("-"), lpad(col("월"),2,"0"), lit("-"), lpad(col("일"), 2, "0")).alias("계약날짜"), col("아파트").alias("아파트명"), col("전용면적").alias("면적"), col("층"))

df3.show()
df3.count()

In [5]:
%pyspark

from pyspark.sql.functions import regexp_replace

total_apartment_df_ = df1.union(df2).union(df3)

total_apartment_df_ = total_apartment_df_.withColumn("거래금액", regexp_replace(col("거래금액"), ",", "") * 10000)

total_apartment_df_.show(10)

In [6]:
%pyspark

tmp1 = total_apartment_df_.rdd.zipWithIndex().toDF()
tmp2 = tmp1.select(col("_1.*"),col("_2").alias('부동산ID'))
tmp2.show()

In [7]:
%pyspark

tmp2.groupBy(col("부동산ID")).count().where(col("count") != 1).show()

In [8]:
%pyspark
tmp2.printSchema()

In [9]:
%pyspark

total_apartment_df = tmp2.select(col("부동산ID").cast("int"), col("법정동코드").cast("int"), col("거래금액").cast("int"), col("건축년도"), col("계약날짜").cast("date"), col("아파트명"), col("면적").cast("int"), col("층").cast("int"))

In [10]:
%pyspark

total_apartment_df.show()

In [11]:
%pyspark

total_apartment_df.printSchema()

total_apartment_df.count()

In [12]:
%pyspark

total_apartment_df.write.option("header", "true").csv("hdfs:///부동산.csv")

In [13]:
%pyspark

total_apartment_df = spark.read.csv("/부동산.csv", header=True)
total_apartment_df.createOrReplaceTempView("apartment")

In [14]:
%pyspark

tmp = spark.read.csv("/부동산.csv", header=True)
tmp.show()

In [15]:
%pyspark

user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="부동산"

test_df = spark.read.format("jdbc").option("user", user).option("password", password).option("url", url).option("driver", driver).option("dbtable", dbtable).load()

test_df.show()

In [16]:
%pyspark

user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="부동산"

total_apartment_df.write.jdbc(url, dbtable, "append", properties={"driver": driver, "user": user, "password": password})

In [17]:
%pyspark

user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="부동산"

apartment_df = spark.read.format("jdbc").option("user", user).option("password", password).option("url", url).option("driver", driver).option("dbtable", dbtable).load()

apartment_df.createOrReplaceTempView("apartment")

In [18]:
%pyspark

user="root"
password="1234"
url="jdbc:mysql://localhost:3306/Project"
driver="com.mysql.cj.jdbc.Driver"
dbtable="가구"

f_df = spark.read.format("jdbc").option("user", user).option("password", password).option("url", url).option("driver", driver).option("dbtable", dbtable).load()

f_df.createOrReplaceTempView("ftable")

In [19]:
%pyspark

placecsv = spark.read.format("csv").option("header", "true").load("../../Data/Final_CSV/지역.csv")

placecsv.createOrReplaceTempView("place")

In [20]:
%sql
select * from apartment

In [21]:
%sql

select * from place

In [22]:
%sql

select `시도명`, round(avg(`거래금액`)) as `평균부동산거래금액`
from(
    select `시도명`, `법정동코드`, `거래금액`
    from place 
    join apartment using(`법정동코드`)
)
group by `시도명`
order by `시도명`

In [23]:
%sql

select `시도명`, `법정동코드`, `거래금액`
from place 
join apartment using(`법정동코드`)
where `시도명` = '서울특별시'

In [24]:
%%sql

In [25]:
%%sql

In [26]:
%%sql

In [27]:
%%sql

In [28]:
%%sql

In [29]:
%%sql

In [30]:
%%sql