In [0]:
%pyspark

upso = spark.read.csv('/Data/주변환경_Data/최종본_유흥시설목록.csv',header=True)

upso.createOrReplaceTempView('upso_obj')


upso.printSchema()

In [1]:
%sql


SELECT COUNT('사업장명') AS count, `주소` FROM upso_obj GROUP BY `주소` ORDER BY count DESC LIMIT 20;


-- SELECT COUNT(DISTINCT(`법정동코드`)) FROM upso_obj

In [2]:
%pyspark
from pyspark.sql.functions import *


sub = spark.read.csv("/Data/주변환경_Data/최종본_전국지하철역목록.csv",header=True)

sub = sub.withColumn('법정동코드', (sub.법정동코드/100000).cast("int"))


sub = sub.select(
    col('역번호').alias('지하철역번호'),
    col('역사명').alias('지하철역사명'),
    col('주소'),
    col('노선명'),
    col('노선번호'),
    col('환승역구분'),
    col('환승노선개수'),
    col('환승노선번호'),
    col('환승노선명'),
    col('법정동코드'),
    )

    

sub.createOrReplaceTempView('sub_obj')

sub.printSchema()

In [3]:
%sql
SELECT COUNT('지하철역사명') AS count,`주소` FROM sub_obj GROUP BY `주소` ORDER BY count DESC LIMIT 20;

In [4]:
%sql
SELECT COUNT(`지하철역사명`) AS count ,`주소`  FROM sub_obj WHERE `환승역구분` == '환승역' GROUP BY `주소` ORDER BY count DESC LIMIT 20;

In [5]:
%pyspark

df1 = spark.read.csv("/버스정류장_for_DB_1.csv",header=True)
df2 = spark.read.csv("/버스정류장_for_DB_2.csv",header=True)



result = df1.union(df2)

#result.show()



result.printSchema()

In [6]:
%sql


SELECT COUNT(`버스정류장명`) AS count ,`주소`  FROM bus_obj GROUP BY `주소` ORDER BY count DESC LIMIT 20;

In [7]:
%%sql