 
##### 현재데이터 : 각 지역마다 csv 파일로 저장되어 있음
##### 처리해야할 작업
    1.전국으로 합치고, 컬럼정리
    2.개설일(ESTBL_YMD)이 2018년 이전인 데이터만 추출
    3.주소 전처리1 - 주소 이상치 필터링
    4.주소 전처리2 - 특수한 주소 필터링
    5.법정동명이랑 연결시키기 (법정동명 컬럼생성)
    6.최종테이블 csv저장 : 필요한컬럼- 법정동명, 학원명(ACA_NM),계열명(LE_ORD_NM),주소(FA_RDNMA),광역시도,시군구,정원합계(TOFOR_SMTOT)
    7.시각화
        - 광역시도별 학원개수

#### 1. 전국으로 합치고, 컬럼정리

In [2]:
%pyspark
all  = spark.read.csv('/Data/학원_Data/학원_교습소정보/',header='True')
all .count() #127267

z.show(all)

In [3]:
%pyspark
all.printSchema()

In [4]:
%pyspark
# 컬럼정리
df1=all.drop("ACA_INSTI_SC_NM","ACA_ASNUM","REG_YMD","REG_STTUS_NM","CAA_BEGIN_YMD","CAA_END_YMD","DTM_RCPTN_ABLTY_NMPR_SMTOT","LE_ORD_NM","LE_CRSE_LIST_NM","LE_CRSE_NM","PSNBY_THCC_CNTNT","THCC_OTHBC_YN","BRHS_ACA_YN","FA_RDNDA","LOAD_DTM")
df1.printSchema()

In [5]:
%pyspark
#컬럼명 정리
from pyspark.sql.functions import col
df1 = df1.select(
    col("ATPT_OFCDC_SC_CODE").alias("교육청코드"),
    col("ATPT_OFCDC_SC_NM").alias("교육청명"),
    col("ADMST_ZONE_NM").alias("시군구"),
    col("ESTBL_YMD").alias("개설일자"),
    col('ACA_NM').alias('학원명'),
    col('REALM_SC_NM').alias('계열명'),col('FA_RDNMA').alias('주소'),col('TOFOR_SMTOT').alias('정원합계'))
z.show(df1)

In [6]:
%pyspark
df1.printSchema()

#### 2. 개설일자가 2018년 이전인 데이터만 추출

In [8]:
%pyspark
from pyspark.sql.functions import col

df2 = df1.filter(col("개설일자") <'20180000')
df2.count() #87932
z.show(df2)

#### 3. 주소전처리1 - 주소이상치 필터링

In [10]:
%pyspark
from pyspark.sql.functions import split,size,col
df2_except1 = df2.withColumn('split_size',size(split(col('주소'),' ')))

df2_except1.createOrReplaceTempView("df2_except1")

In [11]:
%sql
select * from df2_except1 where split_size<=2

In [12]:
%pyspark
df3 = df2_except1.filter("split_size>2")
df3.count() # 87867

#### 4.주소 전처리2 - 특수한 주소필터링

In [14]:
%sql
-- 조건2 - 주소가 '  1'인 경우, 주소가 '상가 103호'인 경우

select * from df2_except1 where `주소` like '__1' or `주소` like '상가 103호%'

In [15]:
%pyspark
# 전처리조건2로 필터링 : 주소가 이상한 값 (2개) 제거

df3 = df3.filter("`주소` not like '__1' and `주소` not like '상가 103호%'")
z.show(df3)

In [16]:
%pyspark
df3.count() #87865

#### 5.법정동명이랑 연결시키기 (법정동명 컬럼생성)

In [18]:
%pyspark
from pyspark.sql.functions import split
split_col = split(df3['교육청명'], '교')
df4 = df3.withColumn('광역시도', split_col.getItem(0))
z.show(df4)

In [19]:
%pyspark
from pyspark.sql.functions import lit,concat
df4 = df4.withColumn('법정동명', concat('광역시도',lit(' '), '시군구'))
z.show(df4)

#### 6. 최종테이블 csv저장 : 필요한컬럼- 법정동명, 학원명(ACA_NM),계열명(LE_ORD_NM),주소(FA_RDNMA),정원합계(TOFOR_SMTOT)

In [21]:
%pyspark
aca_tb=df4.select("법정동명","학원명","계열명",col("정원합계").cast("int"),"주소")

In [22]:
%pyspark
aca_tb_1=aca_tb.rdd.zipWithIndex().toDF()
aca_tb=aca_tb_1.select(col("_1.*"),col("_2").alias("학원ID"))
aca_tb.show()

In [23]:
%pyspark
aca_tb.count()

In [24]:
%pyspark
aca_tb.printSchema()

In [25]:
%pyspark
#aca_tb.write.csv("hdfs:///학원.csv",header='True')

In [26]:
%pyspark
aca_tb.createOrReplaceTempView("ACA_TABLE")

#### 7. 시각화 (광역시도/시군구 컬럼추가)

In [28]:
%pyspark
aca_visual=df4.select("법정동명","학원명","계열명",col("정원합계").cast("int"),"주소","광역시도","시군구")

In [29]:
%pyspark
z.show(aca_visual)

In [30]:
%pyspark
aca_visual.printSchema()

In [31]:
%pyspark
aca_visual.createOrReplaceTempView("aca_local_final")

In [32]:
%sql
select `광역시도`,count(`학원명`) FROM aca_local_final group by `광역시도`

In [33]:
%sql
select `법정동명`,count(`학원명`) FROM aca_local_final group by `법정동명` order by count(`학원명`) desc limit 20

In [34]:
%sql
select `법정동명`,`학원명`,`계열명`,`주소`,`정원합계` FROM aca_local_final where (`학원명` NOT LIKE '%원격%' AND `학원명` NOT LIKE '%온라인%') AND `계열명`!='직업기술' order by `정원합계` desc limit 10

-- select `법정동명`,`학원명`,`계열명`,`주소`,`정원합계` FROM aca_local_final where (`학원명` not like '%원격%') or ('계열명' not like '%직업기술%') order by `정원합계` desc limit 10

In [35]:
%%sql