In [1]:
import pandas as pd

In [9]:
df= pd.read_csv('part-00000-0b88bc1e-b1ea-4cc2-912c-7229d33fd7b5-c000.csv')
df=df.groupby('주소').sum()

In [12]:
df.sort_values(by=['서울대합격자수'], ascending=False).head(9)

             _c0  서울대합격자수
주소
서울특별시 강남구   6061      233
서울특별시 종로구     91      175
서울특별시 서초구   2849      113
서울특별시 광진구    432      102
경기도 성남시    34074       93
경기도 수원시    39886       82
서울특별시 은평구   2475       76
서울특별시 강동구   4375       72
대구광역시 수성구   8789       68