In [1]:
import pandas as pd

In [3]:
regionfile = 'part-00000-d70adea7-1934-4300-afaa-f8ed7ff2fa29-c000.csv'
region = pd.read_csv(regionfile)
region['법정동'] = region['시도명'] + ' ' + region['법정동명']
ind = []
for i in range(len(region)):
    if region['시도명'][i] == '세종특별자치시':
        ind.append('세종')
    elif len(region['시도명'][i]) == 4:
        ind.append(region['시도명'][i][0] + region['시도명'][i][2] + ' ' + region['법정동명'][i])
    else:
        ind.append(region['시도명'][i][:2] + ' ' + region['법정동명'][i])
region['short'] = ind

In [41]:
teacherfile ='part-00000-a48377cd-fce2-4f46-b528-2c333b27f1ae-c000.csv'
teacher1file = 'part-00001-a48377cd-fce2-4f46-b528-2c333b27f1ae-c000.csv'
teacher = pd.read_csv( teacherfile)
df1 = pd.read_csv(teacher1file)
teacher = pd.concat([teacher, df1])
teacher.reset_index(drop=True, inplace=True)
for i in range(len(teacher)):
    teacher['법정동명'][i] = teacher['법정동명'][i].replace(u'\xa0', u' ')
    
for i in range(len(teacher)):
    if teacher['법정동명'][i]=='서울 동대문' :
        teacher['법정동명'][i]='서울 동대문구'
    elif teacher['법정동명'][i]=='서울 서대문' :
        teacher['법정동명'][i]='서울 서대문구'
    elif teacher['법정동명'][i]=='서울 영등포' :
        teacher['법정동명'][i]='서울 영등포구'
    elif teacher['법정동명'][i]=='서울 특별시' :
        teacher['법정동명'][i]='서울 중구'
        
        
teacher = pd.merge(teacher, region, left_on='법정동명', right_on='short', how='left')
# teacher=teacher.groupby('시도명').count()
# teacher_labels = list(teacher.index)
# teacher_data = list(teacher['학원명'])
teacher1= teacher[teacher['시도명']=='서울특별시']
teacher1=teacher1.groupby('법정동명_y').count()
teacher1_labels =list(teacher1.index)
teacher1_data=list(teacher1['학원명'])

<ipython-input-41-744929935fcb>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teacher['법정동명'][i] = teacher['법정동명'][i].replace(u'\xa0', u' ')
<ipython-input-41-744929935fcb>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teacher['법정동명'][i]='서울 영등포구'
<ipython-input-41-744929935fcb>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teacher['법정동명'][i]='서울 동대문구'
<ipython-input-41-744929935fcb>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teacher['법정동명'][i]='서울 서대문구'
<ipython-input-41-744929935fcb>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teacher['법정동명'][i]='서울 중구'

In [32]:
teacher.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1123 entries, 0 to 1122
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학원명     1123 non-null   object
 1   법정동명_x  1123 non-null   object
 2   과목명     1123 non-null   object
 3   강사채용ID  1123 non-null   int64
 4   _c0     1049 non-null   float64
 5   법정동코드   1049 non-null   float64
 6   법정동명_y  1049 non-null   object
 7   시도명     1049 non-null   object
 8   법정동     1049 non-null   object
 9   short   1049 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 96.5+ KB

In [42]:
teacher1_labels
# teacher1_data

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [10]:
region = pd.read_csv('C:\env\Final_CSV\지역.csv\part-00000-d70adea7-1934-4300-afaa-f8ed7ff2fa29-c000.csv')
region['법정동'] = region['시도명'] + ' ' + region['법정동명']
ind=[]
for i in range(len(region)) :
    if region['시도명'][i]=='세종특별자치시' :
        ind.append('세종')
    elif len(region['시도명'][i])==4:
        ind.append(region['시도명'][i][0] +region['시도명'][i][2] +' '+ region['법정동명'][i])
    else :
        ind.append(region['시도명'][i][:2] +' '+ region['법정동명'][i])
region['short']=ind

In [12]:
l[region['시도명']=='서울특별시']

    _c0  법정동코드  법정동명    시도명         법정동    short
0     0  11110   종로구  서울특별시   서울특별시 종로구   서울 종로구
1     1  11140    중구  서울특별시    서울특별시 중구    서울 중구
2     2  11170   용산구  서울특별시   서울특별시 용산구   서울 용산구
3     3  11200   성동구  서울특별시   서울특별시 성동구   서울 성동구
4     4  11215   광진구  서울특별시   서울특별시 광진구   서울 광진구
5     5  11230  동대문구  서울특별시  서울특별시 동대문구  서울 동대문구
6     6  11260   중랑구  서울특별시   서울특별시 중랑구   서울 중랑구
7     7  11290   성북구  서울특별시   서울특별시 성북구   서울 성북구
8     8  11305   강북구  서울특별시   서울특별시 강북구   서울 강북구
9     9  11320   도봉구  서울특별시   서울특별시 도봉구   서울 도봉구
10   10  11350   노원구  서울특별시   서울특별시 노원구   서울 노원구
11   11  11380   은평구  서울특별시   서울특별시 은평구   서울 은평구
12   12  11410  서대문구  서울특별시  서울특별시 서대문구  서울 서대문구
13   13  11440   마포구  서울특별시   서울특별시 마포구   서울 마포구
14   14  11470   양천구  서울특별시   서울특별시 양천구   서울 양천구
15   15  11500   강서구  서울특별시   서울특별시 강서구   서울 강서구
16   16  11530   구로구  서울특별시   서울특별시 구로구   서울 구로구
17   17  11545   금천구  서울특별시   서울특별시 금천구   서울 금천구
18   18  11560  영등포구  서울특별시  서울특별시 영등포구  서울 영등포구
19   19  11590   동작구  서울특별시   서울특별시 동작구   서울 동작구
20   20  11620   관악구  서울특별시   서울특별시 관악구   서울 관악구
21   21  11650   서초구  서울특별시   서울특별시 서초구   서울 서초구
22   22  11680   강남구  서울특별시   서울특별시 강남구   서울 강남구
23   23  11710   송파구  서울특별시   서울특별시 송파구   서울 송파구
24   24  11740   강동구  서울특별시   서울특별시 강동구   서울 강동구

In [36]:
teacher[teacher['short'].isna()].groupby('법정동명_x').count()

        학원명  과목명  강사채용ID  _c0  법정동코드  법정동명_y  시도명  법정동  short
법정동명_x
경기 남양주   33   33      33    0      0       0    0    0      0
경기 의정부   22   22      22    0      0       0    0    0      0
부산 부산진    2    2       2    0      0       0    0    0      0
부산 해운대    3    3       3    0      0       0    0    0      0
서울 특별시    2    2       2    0      0       0    0    0      0
세종        2    2       2    0      0       0    0    0      0
인천 미추홀    4    4       4    0      0       0    0    0      0
제주 서귀포    6    6       6    0      0       0    0    0      0

In [5]:
df.groupby('시도명').count()

,Unnamed: 0,법정동코드,중등교원총계,중등학령인구,중학교학업중단자수,고등학교학업중단자수,비평준화여부,_c0,법정동명,법정동,short
시도명,,,,,,,,,,,
강원도,18,18,18,18,18,18,18,18,18,18,18
경기도,30,30,30,30,30,30,30,30,30,30,30
경상남도,18,18,18,18,18,18,18,18,18,18,18
경상북도,23,23,23,23,23,23,23,23,23,23,23
광주광역시,5,5,5,5,5,5,5,5,5,5,5
대구광역시,8,8,8,8,8,8,8,8,8,8,8
대전광역시,5,5,5,5,5,5,5,5,5,5,5
부산광역시,16,16,16,16,16,16,16,16,16,16,16
서울특별시,25,25,25,25,25,25,25,25,25,25,25
울산광역시,5,5,5,5,5,5,5,5,5,5,5
인천광역시,9,9,9,9,9,9,9,9,9,9,9
전라남도,22,22,22,22,22,22,22,22,22,22,22
전라북도,14,14,14,14,14,14,14,14,14,14,14
제주특별자치도,2,2,2,2,2,2,2,2,2,2,2
충청남도,15,15,15,15,15,15,15,15,15,15,15
충청북도,11,11,11,11,11,11,11,11,11,11,11