In [1]:
import pandas as pd

In [2]:
region_code = pd.read_csv("../Data/법정동_Data/법정동코드 전체자료.csv",encoding='cp949',sep='\t')

In [3]:
idx = []
for i in range(len(region_code)):
    if len(region_code.법정동명[i].split(' '))<=2:
        idx.append(i)

In [4]:
region_code = region_code.iloc[idx]

In [5]:
region_code.

            법정동코드          법정동명 폐지여부
0      1100000000         서울특별시   존재
1      1111000000     서울특별시 종로구   존재
94     1114000000      서울특별시 중구   존재
179    1117000000     서울특별시 용산구   존재
229    1120000000     서울특별시 성동구   존재
...           ...           ...  ...
45800  4971000000      제주도 북제주군   폐지
45958  4972000000      제주도 남제주군   폐지
46076  5000000000       제주특별자치도   존재
46077  5011000000   제주특별자치도 제주시   존재
46213  5013000000  제주특별자치도 서귀포시   존재

[419 rows x 3 columns]

In [61]:
region_code.reset_index(drop=True, inplace=True)

In [62]:
region_code = region_code[region_code.폐지여부=='존재']

In [63]:
region_code.reset_index(inplace=True,drop=True)

In [64]:
sejong_drop = region_code.loc[region_code.법정동명.str.contains('세종')][1:].index

In [65]:
region_code.drop(sejong_drop,axis=0,inplace=True)
region_code.reset_index(drop=True, inplace=True)

In [66]:
idx = []
for i in range(len(region_code)):
    if len(region_code.법정동명[i].split(' '))==1:
        idx.append(i)

In [67]:
idx.remove(81)

In [68]:
region_code.drop(idx,axis=0,inplace = True)

In [69]:
region_code.reset_index(drop=True,inplace=True)

In [70]:
region_code.loc[region_code.법정동명.str.contains('세종')]

         법정동코드     법정동명 폐지여부
74  3611000000  세종특별자치시   존재

In [72]:
region_code

          법정동코드          법정동명 폐지여부
0    1111000000     서울특별시 종로구   존재
1    1114000000      서울특별시 중구   존재
2    1117000000     서울특별시 용산구   존재
3    1120000000     서울특별시 성동구   존재
4    1121500000     서울특별시 광진구   존재
..          ...           ...  ...
224  4887000000      경상남도 함양군   존재
225  4888000000      경상남도 거창군   존재
226  4889000000      경상남도 합천군   존재
227  5011000000   제주특별자치도 제주시   존재
228  5013000000  제주특별자치도 서귀포시   존재

[229 rows x 3 columns]

In [71]:
region_code.to_csv("../Data/법정동_Data/법정동코드_최종본.csv")