In [1]:
import pandas as pd

In [2]:
region_code = pd.read_csv("../Data/법정동_Data/법정동코드 전체자료.csv",encoding='cp949',sep='\t')

In [3]:
idx = []
for i in range(len(region_code)):
    if len(region_code.법정동명[i].split(' '))<=2:
        idx.append(i)

In [4]:
region_code = region_code.iloc[idx]

In [6]:
region_code

            법정동코드          법정동명 폐지여부
0      1100000000         서울특별시   존재
1      1111000000     서울특별시 종로구   존재
94     1114000000      서울특별시 중구   존재
179    1117000000     서울특별시 용산구   존재
229    1120000000     서울특별시 성동구   존재
...           ...           ...  ...
45800  4971000000      제주도 북제주군   폐지
45958  4972000000      제주도 남제주군   폐지
46076  5000000000       제주특별자치도   존재
46077  5011000000   제주특별자치도 제주시   존재
46213  5013000000  제주특별자치도 서귀포시   존재

[419 rows x 3 columns]

In [7]:
region_code.reset_index(drop=True, inplace=True)

In [8]:
region_code = region_code[region_code.폐지여부=='존재']

In [9]:
region_code.reset_index(inplace=True,drop=True)

In [10]:
sejong_drop = region_code.loc[region_code.법정동명.str.contains('세종')][1:].index

In [11]:
region_code.drop(sejong_drop,axis=0,inplace=True)
region_code.reset_index(drop=True, inplace=True)

C:\Users\ksj14\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
idx = []
for i in range(len(region_code)):
    if len(region_code.법정동명[i].split(' '))==1:
        idx.append(i)

In [13]:
idx.remove(81)

In [14]:
region_code.drop(idx,axis=0,inplace = True)

In [15]:
region_code.reset_index(drop=True,inplace=True)

In [16]:
region_code.loc[region_code.법정동명.str.contains('세종')]

         법정동코드     법정동명 폐지여부
74  3611000000  세종특별자치시   존재

In [17]:
region_code

          법정동코드          법정동명 폐지여부
0    1111000000     서울특별시 종로구   존재
1    1114000000      서울특별시 중구   존재
2    1117000000     서울특별시 용산구   존재
3    1120000000     서울특별시 성동구   존재
4    1121500000     서울특별시 광진구   존재
..          ...           ...  ...
224  4887000000      경상남도 함양군   존재
225  4888000000      경상남도 거창군   존재
226  4889000000      경상남도 합천군   존재
227  5011000000   제주특별자치도 제주시   존재
228  5013000000  제주특별자치도 서귀포시   존재

[229 rows x 3 columns]

In [58]:
ind=[]
for i in range(len(region_code)) :
    if region_code['법정동명'][i]=='세종특별자치시' :
        ind.append('세종특별자치시')
    elif len(region_code['법정동명'][i].split(' ')[0])==4:
        ind.append(list(region_code['법정동명'][i].split(' ')[0])[0] +list(region_code['법정동명'][i].split(' ')[0])[2] +' '+ region_code['법정동명'][i].split(' ')[1])
    else :
        ind.append("".join(list(region_code['법정동명'][i].split(' ')[0])[:2]) +' '+ region_code['법정동명'][i].split(' ')[1])

In [59]:
region_code['법정동_short']=ind

<ipython-input-59-4f620337227c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  region_code['법정동_short']=ind

In [60]:
region_code

          법정동코드          법정동명 폐지여부 법정동_short
0    1111000000     서울특별시 종로구   존재    서울 종로구
1    1114000000      서울특별시 중구   존재     서울 중구
2    1117000000     서울특별시 용산구   존재    서울 용산구
3    1120000000     서울특별시 성동구   존재    서울 성동구
4    1121500000     서울특별시 광진구   존재    서울 광진구
..          ...           ...  ...       ...
224  4887000000      경상남도 함양군   존재    경남 함양군
225  4888000000      경상남도 거창군   존재    경남 거창군
226  4889000000      경상남도 합천군   존재    경남 합천군
227  5011000000   제주특별자치도 제주시   존재    제주 제주시
228  5013000000  제주특별자치도 서귀포시   존재   제주 서귀포시

[229 rows x 4 columns]

In [62]:
for i in range(len(region_code)):
    region_code['법정동코드'=list(region_code['법정동코드'][i])[:5]

[1111000000, 1114000000, 1117000000, 1120000000, 1121500000]

In [54]:
list(region_code['법정동명'][i].split(' ')[0])[0] +list(region_code['법정동명'][i].split(' ')[0])[2]

'서특'

In [47]:
"".join(list(region_code['법정동명'][1].split(' ')[0])[0,2]) + region_code['법정동명'][1].split(' ')[1]

TypeError: list indices must be integers or slices, not tuple

In [61]:
region_code.to_csv("../Data/법정동_Data/법정동코드_최종본.csv")