In [194]:
from urllib.parse import quote_plus, urlencode
from urllib.request import urlopen, Request
import xml.etree.ElementTree as ET
import json
import pandas as pd
import numpy as np
import os
import glob
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [195]:
df=pd.read_excel('number/adm_code.xls', usecols=[0,1,2,3], header=1)
df.head()

   시도코드   시도명칭  시군구코드 시군구명칭
0    11  서울특별시  11010   종로구
1    11  서울특별시  11010   종로구
2    11  서울특별시  11010   종로구
3    11  서울특별시  11010   종로구
4    11  서울특별시  11010   종로구

In [196]:
imd=[]
for i in range(len(df)):
    st=df['시군구명칭'][i].split(' ')[0]
    if st=='세종시' :
        imd.append('세종특별자치시')
    else:
        imd.append(st)
len(imd)
df['법정동명']= df['시도명칭']+' ' + imd

3493

In [197]:
df=df.drop_duplicates(['법정동명'])
df

      시도코드     시도명칭  시군구코드 시군구명칭          법정동명
0       11    서울특별시  11010   종로구     서울특별시 종로구
17      11    서울특별시  11020    중구      서울특별시 중구
32      11    서울특별시  11030   용산구     서울특별시 용산구
48      11    서울특별시  11040   성동구     서울특별시 성동구
65      11    서울특별시  11050   광진구     서울특별시 광진구
...    ...      ...    ...   ...           ...
3410    38     경상남도  38380   함양군      경상남도 함양군
3421    38     경상남도  38390   거창군      경상남도 거창군
3433    38     경상남도  38400   합천군      경상남도 합천군
3450    39  제주특별자치도  39010   제주시   제주특별자치도 제주시
3476    39  제주특별자치도  39020  서귀포시  제주특별자치도 서귀포시

[229 rows x 5 columns]

In [198]:
df=df.reset_index(drop=True)

In [209]:
df.drop(['시도명칭', '시군구명칭'], axis=1, inplace =True)

In [210]:
df

     시도코드  시군구코드          법정동명
0      11  11010     서울특별시 종로구
1      11  11020      서울특별시 중구
2      11  11030     서울특별시 용산구
3      11  11040     서울특별시 성동구
4      11  11050     서울특별시 광진구
..    ...    ...           ...
224    38  38380      경상남도 함양군
225    38  38390      경상남도 거창군
226    38  38400      경상남도 합천군
227    39  39010   제주특별자치도 제주시
228    39  39020  제주특별자치도 서귀포시

[229 rows x 3 columns]

In [211]:
df.to_csv('result/시군구코드_최종.csv')

In [200]:
df_b=pd.read_csv('result/법정동코드_최종본.csv', encoding='utf-8', index_col=0)
df_b
len(df_b)

          법정동코드          법정동명 폐지여부
0    1111000000     서울특별시 종로구   존재
1    1114000000      서울특별시 중구   존재
2    1117000000     서울특별시 용산구   존재
3    1120000000     서울특별시 성동구   존재
4    1121500000     서울특별시 광진구   존재
..          ...           ...  ...
224  4887000000      경상남도 함양군   존재
225  4888000000      경상남도 거창군   존재
226  4889000000      경상남도 합천군   존재
227  5011000000   제주특별자치도 제주시   존재
228  5013000000  제주특별자치도 서귀포시   존재

[229 rows x 3 columns]

229

In [201]:
ind=[]

for i in range(len(df_b)):
    if len(df_b['법정동명'][i].split(' '))<=1:
        st=df_b['법정동명'][i].split(' ')[0]
        ind.append(st)
    else :
        st=df_b['법정동명'][i].split(' ')[1]
        ind.append(st)
 
len(ind)
df_b['시군구']=ind

229

In [202]:
df_b

          법정동코드          법정동명 폐지여부   시군구
0    1111000000     서울특별시 종로구   존재   종로구
1    1114000000      서울특별시 중구   존재    중구
2    1117000000     서울특별시 용산구   존재   용산구
3    1120000000     서울특별시 성동구   존재   성동구
4    1121500000     서울특별시 광진구   존재   광진구
..          ...           ...  ...   ...
224  4887000000      경상남도 함양군   존재   함양군
225  4888000000      경상남도 거창군   존재   거창군
226  4889000000      경상남도 합천군   존재   합천군
227  5011000000   제주특별자치도 제주시   존재   제주시
228  5013000000  제주특별자치도 서귀포시   존재  서귀포시

[229 rows x 4 columns]

In [203]:
set1=set(imd)
set2= set(ind)

In [204]:
len(set1.intersection(set2))
len(set2.intersection(set1))

207

207

In [205]:
set1.difference(set2)
set2.difference(set1)

set()

set()

In [206]:
tmp = df_b.sort_values(by='법정동명')
tmp2 = df.sort_values(by='법정동명')

PermissionError: [Errno 13] Permission denied: 'tmp.xlsx'

In [ ]:
for i in df_b['법정동명']:
    if i not in df.법정동명:
        print(i)

In [ ]:
df_b

In [ ]:
df_m = pd.merge(df, df_b, how='right', on='법정동명')
df_m

In [ ]:
# df_m[df_m['시군구명칭'].isnull()]