In [1]:
import pandas as pd

In [5]:
df= pd.read_csv('교육청.csv')
df=df[['전체이름','구분','학교코드','기관코드','2017년 예산(B)']]
df

          전체이름  구분        학교코드     기관코드 2017년 예산(B)
0     서울특별시교육청  서울  B100000001  7010000   8,147,725
1     부산광역시교육청  부산  C100000001  7150000   3,635,672
2     대구광역시교육청  대구  D100000001  7240000   2,943,500
3     인천광역시교육청  인천  E100000001  7310000   3,132,755
4     광주광역시교육청  광주  F100000001  7380000   1,796,151
5     대전광역시교육청  대전  G100000001  7430000   1,813,785
6     울산광역시교육청  울산  H100000001  7480000   1,542,265
7   세종특별자치시교육청  세종  I100000001  9300000     551,145
8       경기도교육청  경기  J100000001  7530000  12,052,414
9       강원도교육청  강원  K100000001  7800000   2,560,973
10     충청북도교육청  충북  M100000001  8000000   2,260,042
11     충청남도교육청  충남  N100000001  8140000   3,029,476
12     전라북도교육청  전북  P100000001  8320000   2,861,847
13     전라남도교육청  전남  Q100000001  8490000   3,349,600
14     경상북도교육청  경북  R100000001  8750000   4,001,281
15     경상남도교육청  경남  S100000001  9010000   4,474,356
16  제주특별자치도교육청  제주  T100000001  9290000     913,227

In [8]:
df=df.rename(columns ={'전체이름':'교육청명','구분':'시도명','2017년 예산(B)':'예산'})

In [12]:
df=df[['교육청명','예산','시도명','학교코드']]

In [14]:
df.to_csv('예산청_db.csv')