In [12]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [14]:

data = pd.read_csv('money/2017_교육청별 예산규모.csv',  encoding ='utf-8')
 
data.head()

,구분;당초예산;구성비(%);증감액(B-A);증감률((B-A)/A),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,전체;55,73,394;59,66,215;3,992,821;0.07
1,서울;7,852,159;8,147,725;295,565;0.03,NaN
2,부산;3,396,531;3,635,672;239,141;0.07,NaN
3,대구;2,624,925;2,943,500;318,575;0.12,NaN
4,인천;2,868,765;3,132,755;263,990;0.09,NaN