In [232]:
import pandas as pd

In [233]:
df = pd.read_csv("../Data/주변환경_Data/원본_유흥시설 목록.csv",encoding='cp949',low_memory=False)

In [234]:
df.columns

Index(['번호', '개방서비스명', '개방서비스id', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총종업원수',
       '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액',
       '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지',
       'Unnamed: 47'],
      dtype='object')

In [235]:
df = df[df.영업상태명=='영업/정상']

In [236]:
df = df.drop(['개방자치단체코드','재개업일자','번호', '개방서비스명', '개방서비스id','관리번호', '인허가일자', 
         '인허가취소일자','영업상태구분코드', '영업상태명','사업장명','상세영업상태코드', 
         '상세영업상태명','폐업일자', '휴업시작일자', '휴업종료일자',
         '데이터갱신구분', '데이터갱신일자', '업태구분명','좌표정보(x)', '좌표정보(y)',
         '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수',
         '최종수정시점','홈페이지','남성종사자수', '여성종사자수','위생업태명','급수시설구분명',
        '건물소유구분명', '보증액','월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', 
         '전통업소주된음식', '홈페이지','등급구분명','총종업원수','Unnamed: 47','소재지면적','소재지전화',
        "소재지우편번호","도로명우편번호"],axis=1)

In [237]:
df = df.astype(str)

In [238]:
df.loc[df.소재지전체주소.str.contains('세종특별'),'소재지전체주소'] = '세종특별자치시 '

In [239]:
tmp = []
for i in (df.소재지전체주소.astype(str) + df.도로명전체주소.astype(str)):
      tmp.append(str(i.split(' ')[0]+" "+i.split(' ')[1]))

In [240]:
for i in range(len(tmp)):
    if 'nan' in tmp[i]:
         tmp[i]=tmp[i].replace("nan","")

In [241]:
df['주소']=tmp

In [242]:
df = df.drop(['소재지전체주소','도로명전체주소'],axis=1)

In [243]:
df=df.astype(str)

In [244]:
df

       영업장주변구분명         주소
0           nan  광주광역시 광산구
1           nan  광주광역시 광산구
2      유흥업소밀집지역  광주광역시 광산구
3            기타  광주광역시 광산구
4           nan  광주광역시 광산구
...         ...        ...
26892        기타   경상북도 안동시
26893        기타  울산광역시 울주군
26894     아파트지역   전라남도 광양시
26895  유흥업소밀집지역  서울특별시 관악구
26896       nan   경상남도 양산시

[26897 rows x 2 columns]

In [245]:
df.loc[df['영업장주변구분명']=='nan','영업장주변구분명'] = '미분류'

In [253]:
df.sort_values(by='주소')

       영업장주변구분명        주소
3681        미분류   강원도 강릉시
3711        미분류   강원도 강릉시
3712   유흥업소밀집지역   강원도 강릉시
3713         기타   강원도 강릉시
3714   유흥업소밀집지역   강원도 강릉시
...         ...       ...
25967  학교정화(상대)  충청북도 충주시
25968       미분류  충청북도 충주시
26059       미분류  충청북도 충주시
25858       미분류  충청북도 충주시
26187       미분류  충청북도 충주시

[26897 rows x 2 columns]

In [246]:
df2 = pd.DataFrame(df['영업장주변구분명'].groupby([df['주소'],df['영업장주변구분명']]).size())

In [247]:
df2['주소']= [df2.index[i][0] for i in range(1025)]
df2['영업장주변구분']= [df2.index[i][1] for i in range(1025)]

In [248]:
df2.reset_index(drop=True,inplace=True)

In [249]:
df2=df2[['주소','영업장주변구분','영업장주변구분명']]

In [250]:
df2 = df2.rename({"영업장주변구분명":"개수"},axis=1)

In [251]:
df2.loc[df2.주소.str.contains('세종'), "주소"] = '세종특별자치시'

In [229]:
df2.to_csv("../Data/주변환경_Data/수정본_유흥업소지역별현황.csv")