In [60]:
import pandas as pd

In [61]:
df = pd.read_csv("../Data/주변환경_Data/원본_유흥시설 목록.csv",encoding='cp949',low_memory=False)

In [62]:
df.columns

Index(['번호', '개방서비스명', '개방서비스id', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총종업원수',
       '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액',
       '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지',
       'Unnamed: 47'],
      dtype='object')

In [63]:
df = df[df.영업상태명=='영업/정상']

In [64]:
df = df.drop(['개방자치단체코드','재개업일자','번호', '개방서비스명', '개방서비스id','관리번호', '인허가일자', 
         '인허가취소일자','영업상태구분코드', '영업상태명','상세영업상태코드', 
         '상세영업상태명','폐업일자', '휴업시작일자', '휴업종료일자',
         '데이터갱신구분', '데이터갱신일자', '좌표정보(x)', '좌표정보(y)',
         '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수',
         '최종수정시점','홈페이지','남성종사자수', '여성종사자수','위생업태명','급수시설구분명',
        '건물소유구분명', '보증액','월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', 
         '전통업소주된음식', '홈페이지','등급구분명','총종업원수','Unnamed: 47','소재지면적','소재지전화',
        "소재지우편번호","도로명우편번호"],axis=1)

In [65]:
df = df.astype(str)

In [66]:
df.loc[df.소재지전체주소.str.contains('세종특별'),'소재지전체주소'] = '세종특별자치시 '

In [67]:
tmp = []
for i in (df.소재지전체주소.astype(str) + df.도로명전체주소.astype(str)):
      tmp.append(str(i.split(' ')[0]+" "+i.split(' ')[1]))

In [68]:
for i in range(len(tmp)):
    if 'nan' in tmp[i]:
         tmp[i]=tmp[i].replace("nan","")

In [69]:
df['주소']=tmp

In [70]:
df = df.drop(['소재지전체주소','도로명전체주소'],axis=1)

In [71]:
df=df.astype(str)

In [72]:
df

              사업장명    업태구분명  영업장주변구분명         주소
0      준코뮤직타운광주첨단점  비어(바)살롱       nan  광주광역시 광산구
1            샴푸노래홀      룸살롱       nan  광주광역시 광산구
2              도드리      룸살롱  유흥업소밀집지역  광주광역시 광산구
3             프러포즈      룸살롱        기타  광주광역시 광산구
4           더블유(W)      룸살롱       nan  광주광역시 광산구
...            ...      ...       ...        ...
26892          싱가폴      룸살롱        기타   경상북도 안동시
26893           스타      룸살롱        기타  울산광역시 울주군
26894     엠(M)노래클럽     노래클럽     아파트지역   전라남도 광양시
26895        체리노래빠      룸살롱  유흥업소밀집지역  서울특별시 관악구
26896   황수현의 뮤직라이브     노래클럽       nan   경상남도 양산시

[26897 rows x 4 columns]

In [73]:
df.loc[df['영업장주변구분명']=='nan','영업장주변구분명'] = '미분류'

In [80]:
df.loc[df.주소.str.contains('세종'),'주소']='세종특별자치시'

In [81]:
data_bars = df.sort_values(by='주소')

In [82]:
data_bars.reset_index(drop=True,inplace=True)

In [83]:
data_bars.to_csv("../Data/주변환경_Data/수정본_유흥업소지역별현황.csv")

In [84]:
pd.read_csv("../Data/주변환경_Data/수정본_유흥업소지역별현황.csv")

       Unnamed: 0               사업장명      업태구분명  영업장주변구분명        주소
0               0             아리랑나이트  고고(디스코)클럽       미분류   강원도 강릉시
1               1                아리랑        룸살롱       미분류   강원도 강릉시
2               2  투영(TWO YOUNG)노래공원         기타  유흥업소밀집지역   강원도 강릉시
3               3           팽고팽고성인클럽        룸살롱        기타   강원도 강릉시
4               4             발리노래타운        룸살롱  유흥업소밀집지역   강원도 강릉시
...           ...                ...        ...       ...       ...
26892       26892             타워미시주점        룸살롱  학교정화(상대)  충청북도 충주시
26893       26893             로또노래주점       간이주점       미분류  충청북도 충주시
26894       26894          베트남편의노래주점        룸살롱       미분류  충청북도 충주시
26895       26895           카카편의노래주점        룸살롱       미분류  충청북도 충주시
26896       26896                남한강        카바레       미분류  충청북도 충주시

[26897 rows x 5 columns]

In [85]:
df.loc[df.주소.str.contains('세종')]

            사업장명 업태구분명  영업장주변구분명       주소
5503      수 노래주점  노래클럽       미분류  세종특별자치시
23015    땡겨 노래천국   룸살롱       미분류  세종특별자치시
23016       팔도강산   룸살롱       미분류  세종특별자치시
23017       빨간구두   룸살롱       미분류  세종특별자치시
23018     가마 가요궁   룸살롱        기타  세종특별자치시
23019      가왕노래궁   룸살롱  유흥업소밀집지역  세종특별자치시
23029      대추노래궁   룸살롱  유흥업소밀집지역  세종특별자치시
23030        워커힐   룸살롱  유흥업소밀집지역  세종특별자치시
23031        개구리   룸살롱       미분류  세종특별자치시
23032      보스라이브   룸살롱  유흥업소밀집지역  세종특별자치시
23033     핑크 노래궁   룸살롱  유흥업소밀집지역  세종특별자치시
23106        항아리   룸살롱       미분류  세종특별자치시
23107   이스턴 가요주점  간이주점       미분류  세종특별자치시
23108      오성노래궁   룸살롱       미분류  세종특별자치시
23109         가희   룸살롱       미분류  세종특별자치시
23110     킹 노래클럽  스텐드바       미분류  세종특별자치시
23111    비타민 노래궁   룸살롱       미분류  세종특별자치시
23112        여우궁  간이주점       미분류  세종특별자치시
25975     동궁노래천국    기타       미분류  세종특별자치시
25980      역전가요터   룸살롱        기타  세종특별자치시
25981    더블유 가요궁    기타        기타  세종특별자치시
25982        놀이터   룸살롱        기타  세종특별자치시
25983     텐프로노래궁   룸살롱  유흥업소밀집지역  세종특별자치시
25984      단풍노래궁   룸살롱        기타  세종특별자치시
25985     전국노래자랑   룸살롱        기타  세종특별자치시
25986  케이투노래(K2)    기타  유흥업소밀집지역  세종특별자치시
26075    아궁이 노래바    기타  유흥업소밀집지역  세종특별자치시
26076      싸이노래방   룸살롱        기타  세종특별자치시
26077      홍콩노래방   룸살롱       미분류  세종특별자치시
26078      애플노래궁   룸살롱  학교정화(절대)  세종특별자치시
26079    조이 노래클럽   룸살롱        기타  세종특별자치시
26080   아시안 노래클럽   룸살롱       미분류  세종특별자치시
26081    큐노래호프주점  노래클럽       미분류  세종특별자치시
26098      키스노래궁   룸살롱       미분류  세종특별자치시
26099      썸 노래궁   룸살롱       미분류  세종특별자치시
26774        다불러   룸살롱       미분류  세종특별자치시

# 너무 많이 전처리 해버렸으니 여기부터는 무시

In [40]:
df2 = pd.DataFrame(df['영업장주변구분명'].groupby([df['주소'],df['영업장주변구분명']]).size())

In [41]:
df2['주소']= [df2.index[i][0] for i in range(1025)]
df2['영업장주변구분']= [df2.index[i][1] for i in range(1025)]

In [42]:
df2.reset_index(drop=True,inplace=True)

In [43]:
df2=df2[['주소','영업장주변구분','영업장주변구분명']]

In [44]:
df2 = df2.rename({"영업장주변구분명":"개수"},axis=1)

In [45]:
df2.loc[df2.주소.str.contains('세종'), "주소"] = '세종특별자치시'

In [46]:
df2

            주소   영업장주변구분   개수
0      강원도 강릉시        기타   48
1      강원도 강릉시       미분류   84
2      강원도 강릉시  유흥업소밀집지역   74
3      강원도 강릉시  학교정화(상대)    7
4      강원도 고성군        기타    4
...        ...       ...  ...
1020  충청북도 충주시        기타   37
1021  충청북도 충주시       미분류  106
1022  충청북도 충주시  유흥업소밀집지역   33
1023  충청북도 충주시  학교정화(상대)    6
1024  충청북도 충주시  학교정화(절대)    1

[1025 rows x 3 columns]

In [47]:
#df2.to_csv("../Data/주변환경_Data/")