In [174]:
import pandas as pd

In [175]:
bars = pd.read_csv("../Data/주변환경_Data/수정본_유흥업소지역별현황.csv")

In [176]:
new_data1 = {
    '주소' : '경기도 과천시',
    '영업장주변구분' : '미분류',
    '개수' : 0
}
bars = bars.append(new_data, ignore_index=True)

In [177]:
bars.drop('Unnamed: 0',axis=1,inplace=True)

In [178]:
bars = bars.sort_values('주소')

In [179]:
bars.reset_index(drop=True, inplace=True)

In [180]:
bars

            주소   영업장주변구분   개수
0      강원도 강릉시        기타   48
1      강원도 강릉시       미분류   84
2      강원도 강릉시  유흥업소밀집지역   74
3      강원도 강릉시  학교정화(상대)    7
4      강원도 고성군        기타    4
...        ...       ...  ...
1021  충청북도 충주시        기타   37
1022  충청북도 충주시       미분류  106
1023  충청북도 충주시  유흥업소밀집지역   33
1024  충청북도 충주시  학교정화(상대)    6
1025  충청북도 충주시  학교정화(절대)    1

[1026 rows x 3 columns]

In [181]:
region_code = pd.read_csv("../Data/법정동_Data/법정동코드_최종본.csv")

In [182]:
region_code.drop(['Unnamed: 0','폐지여부'],axis=1,inplace=True)

In [183]:
region_code = region_code.rename({"법정동명":"주소"},axis=1)

In [184]:
region_code

          법정동코드            주소
0    1111000000     서울특별시 종로구
1    1114000000      서울특별시 중구
2    1117000000     서울특별시 용산구
3    1120000000     서울특별시 성동구
4    1121500000     서울특별시 광진구
..          ...           ...
224  4887000000      경상남도 함양군
225  4888000000      경상남도 거창군
226  4889000000      경상남도 합천군
227  5011000000   제주특별자치도 제주시
228  5013000000  제주특별자치도 서귀포시

[229 rows x 2 columns]

In [185]:
if_data = pd.merge(bars,region_code,on='주소',how='left')

In [186]:
if_data

            주소   영업장주변구분   개수       법정동코드
0      강원도 강릉시        기타   48  4215000000
1      강원도 강릉시       미분류   84  4215000000
2      강원도 강릉시  유흥업소밀집지역   74  4215000000
3      강원도 강릉시  학교정화(상대)    7  4215000000
4      강원도 고성군        기타    4  4282000000
...        ...       ...  ...         ...
1021  충청북도 충주시        기타   37  4313000000
1022  충청북도 충주시       미분류  106  4313000000
1023  충청북도 충주시  유흥업소밀집지역   33  4313000000
1024  충청북도 충주시  학교정화(상대)    6  4313000000
1025  충청북도 충주시  학교정화(절대)    1  4313000000

[1026 rows x 4 columns]