In [93]:
import pandas as pd

In [94]:
sub_list = pd.read_csv("../Data/주변환경_Data/수정본_전국지하철역정보.csv")

In [95]:
region_code = pd.read_csv("../Data/법정동_Data/법정동코드+시군구코드.csv")

In [96]:
for i in range(len(sub_list["역사도로명주소"])):
    sub_list["역사도로명주소"][i] = (sub_list["역사도로명주소"][i].split(' ')[0]+" "+sub_list["역사도로명주소"][i].split(' ')[1])

<ipython-input-96-a82ff5a77d15>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_list["역사도로명주소"][i] = (sub_list["역사도로명주소"][i].split(' ')[0]+" "+sub_list["역사도로명주소"][i].split(' ')[1])

In [97]:
sub_list = sub_list.rename({"역사도로명주소":"주소"},axis=1)

In [98]:
region_code = region_code.rename({"법정동명":"주소"},axis=1)

In [99]:
'서울특별시 강동구' in region_code.주소.values

True

In [100]:
ab= ['a','b','c']

'a' in ab

True

In [101]:
region_code.주소.values

array(['서울특별시 종로구', '서울특별시 중구', '서울특별시 용산구', '서울특별시 성동구', '서울특별시 광진구',
       '서울특별시 동대문구', '서울특별시 중랑구', '서울특별시 성북구', '서울특별시 강북구', '서울특별시 도봉구',
       '서울특별시 노원구', '서울특별시 은평구', '서울특별시 서대문구', '서울특별시 마포구', '서울특별시 양천구',
       '서울특별시 강서구', '서울특별시 구로구', '서울특별시 금천구', '서울특별시 영등포구', '서울특별시 동작구',
       '서울특별시 관악구', '서울특별시 서초구', '서울특별시 강남구', '서울특별시 송파구', '서울특별시 강동구',
       '부산광역시 중구', '부산광역시 서구', '부산광역시 동구', '부산광역시 영도구', '부산광역시 부산진구',
       '부산광역시 동래구', '부산광역시 남구', '부산광역시 북구', '부산광역시 해운대구', '부산광역시 사하구',
       '부산광역시 금정구', '부산광역시 강서구', '부산광역시 연제구', '부산광역시 수영구', '부산광역시 사상구',
       '부산광역시 기장군', '대구광역시 중구', '대구광역시 동구', '대구광역시 서구', '대구광역시 남구',
       '대구광역시 북구', '대구광역시 수성구', '대구광역시 달서구', '대구광역시 달성군', '인천광역시 중구',
       '인천광역시 동구', '인천광역시 미추홀구', '인천광역시 연수구', '인천광역시 남동구', '인천광역시 부평구',
       '인천광역시 계양구', '인천광역시 서구', '인천광역시 강화군', '인천광역시 옹진군', '광주광역시 동구',
       '광주광역시 서구', '광주광역시 남구', '광주광역시 북구', '광주광역시 광산구', '대전광역시 동구',
       '대전광역시 중구', '대전광역시 서구', '대전광역시 유성구', '대전광역시 대덕구', '울산광역시 중구',
       '울산광역시 남구', '울산광역시 동구', '울산광역시 북구', '울산광역시 울주군', '세종특별자치시',
       '경기도 수원시', '경기도 성남시', '경기도 의정부시', '경기도 안양시', '경기도 부천시', '경기도 광명시',
       '경기도 평택시', '경기도 동두천시', '경기도 안산시', '경기도 고양시', '경기도 과천시', '경기도 구리시',
       '경기도 남양주시', '경기도 오산시', '경기도 시흥시', '경기도 군포시', '경기도 의왕시', '경기도 하남시',
       '경기도 용인시', '경기도 파주시', '경기도 이천시', '경기도 안성시', '경기도 김포시', '경기도 화성시',
       '경기도 광주시', '경기도 양주시', '경기도 포천시', '경기도 여주시', '경기도 연천군', '경기도 가평군',
       '경기도 양평군', '강원도 춘천시', '강원도 원주시', '강원도 강릉시', '강원도 동해시', '강원도 태백시',
       '강원도 속초시', '강원도 삼척시', '강원도 홍천군', '강원도 횡성군', '강원도 영월군', '강원도 평창군',
       '강원도 정선군', '강원도 철원군', '강원도 화천군', '강원도 양구군', '강원도 인제군', '강원도 고성군',
       '강원도 양양군', '충청북도 청주시', '충청북도 충주시', '충청북도 제천시', '충청북도 보은군',
       '충청북도 옥천군', '충청북도 영동군', '충청북도 증평군', '충청북도 진천군', '충청북도 괴산군',
       '충청북도 음성군', '충청북도 단양군', '충청남도 천안시', '충청남도 공주시', '충청남도 보령시',
       '충청남도 아산시', '충청남도 서산시', '충청남도 논산시', '충청남도 계룡시', '충청남도 당진시',
       '충청남도 금산군', '충청남도 부여군', '충청남도 서천군', '충청남도 청양군', '충청남도 홍성군',
       '충청남도 예산군', '충청남도 태안군', '전라북도 전주시', '전라북도 군산시', '전라북도 익산시',
       '전라북도 정읍시', '전라북도 남원시', '전라북도 김제시', '전라북도 완주군', '전라북도 진안군',
       '전라북도 무주군', '전라북도 장수군', '전라북도 임실군', '전라북도 순창군', '전라북도 고창군',
       '전라북도 부안군', '전라남도 목포시', '전라남도 여수시', '전라남도 순천시', '전라남도 나주시',
       '전라남도 광양시', '전라남도 담양군', '전라남도 곡성군', '전라남도 구례군', '전라남도 고흥군',
       '전라남도 보성군', '전라남도 화순군', '전라남도 장흥군', '전라남도 강진군', '전라남도 해남군',
       '전라남도 영암군', '전라남도 무안군', '전라남도 함평군', '전라남도 영광군', '전라남도 장성군',
       '전라남도 완도군', '전라남도 진도군', '전라남도 신안군', '경상북도 포항시', '경상북도 경주시',
       '경상북도 김천시', '경상북도 안동시', '경상북도 구미시', '경상북도 영주시', '경상북도 영천시',
       '경상북도 상주시', '경상북도 문경시', '경상북도 경산시', '경상북도 군위군', '경상북도 의성군',
       '경상북도 청송군', '경상북도 영양군', '경상북도 영덕군', '경상북도 청도군', '경상북도 고령군',
       '경상북도 성주군', '경상북도 칠곡군', '경상북도 예천군', '경상북도 봉화군', '경상북도 울진군',
       '경상북도 울릉군', '경상남도 창원시', '경상남도 진주시', '경상남도 통영시', '경상남도 사천시',
       '경상남도 김해시', '경상남도 밀양시', '경상남도 거제시', '경상남도 양산시', '경상남도 의령군',
       '경상남도 함안군', '경상남도 창녕군', '경상남도 고성군', '경상남도 남해군', '경상남도 하동군',
       '경상남도 산청군', '경상남도 함양군', '경상남도 거창군', '경상남도 합천군', '제주특별자치도 제주시',
       '제주특별자치도 서귀포시'], dtype=object)

In [102]:
tmp = []
for i in sub_list.주소:
    if i not in region_code.주소.values:
        tmp.append(i)
        
set(tmp)

{'강원도 춘춘시',
 '부산시 동래구',
 '서울 구로구',
 '서울시 강남구',
 '서울시 구로구',
 '서울시 금천구',
 '서울시 노원구',
 '서울시 도봉구',
 '서울시 동대문구',
 '서울시 동작구',
 '서울시 마포구',
 '서울시 서대문구',
 '서울시 성동구',
 '서울시 영등포구',
 '서울시 용산구',
 '서울시 은평구',
 '서울시 중랑구',
 '인천시 남구',
 '인천시 남동구',
 '인천시 동구',
 '인천시 부평구',
 '인천시 연수구',
 '인천시 중구',
 '충남 아산시',
 '충남 천안시'}

In [104]:
sub_list.loc[sub_list.주소=='강원도 춘춘시', "주소"] ='강원도 춘천시'
sub_list.loc[sub_list.주소=='부산시 동래구', "주소"] = '부산광역시 동래구'
sub_list.loc[sub_list.주소=='서울 구로구', "주소"] = '서울특별시 구로구'
sub_list.loc[sub_list.주소=='서울시 강남구', "주소"] = '서울특별시 강남구'
sub_list.loc[sub_list.주소=='서울시 구로구', "주소"] = '서울특별시 구로구'
sub_list.loc[sub_list.주소=='서울시 금천구', "주소"] = '서울특별시 금천구'
sub_list.loc[sub_list.주소=='서울시 노원구', "주소"] = '서울특별시 노원구'
sub_list.loc[sub_list.주소=='서울시 도봉구', "주소"] = '서울특별시 도봉구'
sub_list.loc[sub_list.주소=='서울시 동대문구', "주소"] = '서울특별시 동대문구'
sub_list.loc[sub_list.주소=='서울시 동작구', "주소"] = '서울특별시 동작구'
sub_list.loc[sub_list.주소=='서울시 마포구', "주소"] = '서울특별시 마포구'
sub_list.loc[sub_list.주소=='서울시 서대문구', "주소"] = '서울특별시 서대문구'
sub_list.loc[sub_list.주소=='서울시 성동구', "주소"] = '서울특별시 성동구'
sub_list.loc[sub_list.주소=='서울시 영등포구', "주소"] = '서울특별시 영등포구'
sub_list.loc[sub_list.주소=='서울시 용산구', "주소"] = '서울특별시 용산구'
sub_list.loc[sub_list.주소=='서울시 은평구', "주소"] = '서울특별시 은평구'




sub_list.loc[sub_list.주소=='서울시 중랑구', "주소"] = '서울특별시 중랑구'
sub_list.loc[sub_list.주소=='인천시 남구', "주소"] = '인천광역시 미추홀구'
sub_list.loc[sub_list.주소 == '인천광역시 남구','주소']='인천광역시 미추홀구'
sub_list.loc[sub_list.주소=='인천시 남동구', "주소"] = '인천광역시 남동구'
sub_list.loc[sub_list.주소=='인천시 동구', "주소"] = '인천광역시 동구'
sub_list.loc[sub_list.주소=='인천시 부평구', "주소"] = '인천광역시 부평구'
sub_list.loc[sub_list.주소=='인천시 연수구', "주소"] = '인천광역시 연수구'
sub_list.loc[sub_list.주소=='인천시 중구', "주소"] = '인천광역시 중구'
sub_list.loc[sub_list.주소=='충남 아산시', "주소"] = '충청남도 아산시'
sub_list.loc[sub_list.주소=='충남 천안시', "주소"] = '충청남도 천안시'

In [105]:
region_code

     Unnamed: 0  시도코드    시군구코드            주소       법정동코드
0             0  11.0  11010.0     서울특별시 종로구  1111000000
1             1  11.0  11020.0      서울특별시 중구  1114000000
2             2  11.0  11030.0     서울특별시 용산구  1117000000
3             3  11.0  11040.0     서울특별시 성동구  1120000000
4             4  11.0  11050.0     서울특별시 광진구  1121500000
..          ...   ...      ...           ...         ...
224         224  38.0  38380.0      경상남도 함양군  4887000000
225         225  38.0  38390.0      경상남도 거창군  4888000000
226         226  38.0  38400.0      경상남도 합천군  4889000000
227         227  39.0  39010.0   제주특별자치도 제주시  5011000000
228         228  39.0  39020.0  제주특별자치도 서귀포시  5013000000

[229 rows x 5 columns]

In [130]:
sub_final = pd.merge(sub_list,region_code,on='주소').drop(['Unnamed: 0_x','Unnamed: 0_y',
                                                         '운영기관명','제공기관코드','제공기관명'],axis=1)

In [131]:
sub_final = sub_final.sort_values(by='역번호')

In [132]:
sub_final.시도코드 = sub_final.시도코드.astype(int)
sub_final.시군구코드 = sub_final.시군구코드.astype(int)

In [133]:
sub_final.reset_index(drop=True,inplace=True)

In [134]:
sub_final

,역번호,역사명,노선번호,노선명,환승역구분,환승노선번호,환승노선명,역위도,역경도,주소,시도코드,시군구코드,법정동코드
0,0150,서울역,S1101,서울 도시철도 1호선,환승역,S1104+I4107,서울 도시철도 4호선+경의중앙선,37.555753,126.972456,서울특별시 중구,11,11020,1114000000
1,0151,시청,S1101,서울 도시철도 1호선,환승역,S1102,서울 도시철도 2호선,37.564717,126.976751,서울특별시 중구,11,11020,1114000000
2,0152,종각,S1101,서울 도시철도 1호선,일반역,NaN,NaN,37.570203,126.982948,서울특별시 종로구,11,11010,1111000000
3,0153,종로3가,S1101,서울 도시철도 1호선,환승역,S1103+S1105,서울 도시철도 3호선+서울 도시철도 5호선,37.571394,126.991411,서울특별시 종로구,11,11010,1111000000
4,0154,종로5가,S1101,서울 도시철도 1호선,일반역,NaN,NaN,37.571007,127.001799,서울특별시 종로구,11,11010,1111000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,Y120,운동장-송담대역,T4101,에버라인,일반역,NaN,NaN,37.237891,127.209046,경기도 용인시,31,31191,4146000000
1011,Y121,고진역,T4101,에버라인,일반역,NaN,NaN,37.244643,127.214168,경기도 용인시,31,31191,4146000000
1012,Y122,보평역,T4101,에버라인,일반역,NaN,NaN,37.258947,127.218533,경기도 용인시,31,31191,4146000000
1013,Y123,둔전역,T4101,에버라인,일반역,NaN,NaN,37.267201,127.213619,경기도 용인시,31,31191,4146000000
1014,Y124,전대-에버랜드역,T4101,에버라인,일반역,NaN,NaN,37.285405,127.219491,경기도 용인시,31,31191,4146000000