In [49]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import json

In [50]:
csvpath1 = '../Data/가구_Data/raw_Data/시군구_광주_전북_전남_제주_별_보험료분위별_현황_20210912182856.csv'
csvpath2 = '../Data/가구_Data/raw_Data/시군구_대전_세종_충북_충남_별_보험료분위별_현황_20210912182856.csv'
csvpath3 = '../Data/가구_Data/raw_Data/시군구_부산_대구_울산_경북_경남_별_보험료분위별_현황_20210912183612.csv'
csvpath4 = '../Data/가구_Data/raw_Data/시군구_서울_인천_경기_강원_별_보험료분위별_현황_20210912182556.csv'

tb_data1 = pd.read_csv(csvpath1, encoding='cp949')
tb_data2 = pd.read_csv(csvpath1, encoding='cp949')
tb_data3 = pd.read_csv(csvpath1, encoding='cp949')
tb_data4 = pd.read_csv(csvpath1, encoding='cp949')

In [51]:
tb_data1.head()

,시군구별(1),보험료분위별(1),2013,2013.1,2013.2,2013.3,2013.4,2013.5,2013.6,2013.7,...,2019.5,2019.6,2019.7,2019.8,2019.9,2019.10,2019.11,2019.12,2019.13,2019.14
0,시군구별(1),보험료분위별(1),계,계,계,직장,직장,직장,직장,직장,...,직장,직장,직장,직장,직장,직장,직장,지역,지역,지역
1,시군구별(1),보험료분위별(1),소계,소계,소계,소계,소계,소계,근로자,근로자,...,소계,근로자,근로자,근로자,공교,공교,공교,소계,소계,소계
2,시군구별(1),보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),...,적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명)
3,광주,계,588246,79882,1357778,384823,82390,965256,340452,76912,...,1004512,426445,104259,886302,46049,161916,118210,214239,86427,364753
4,광주,1분위,62886,18098,107772,41771,24564,84898,41501,24560,...,72754,44403,32527,72440,190,37566,314,20191,7462,24526

In [52]:
tb_data1.columns

Index(['시군구별(1)', '보험료분위별(1)', '2013', '2013.1', '2013.2', '2013.3', '2013.4',
       '2013.5', '2013.6', '2013.7',
       ...
       '2019.5', '2019.6', '2019.7', '2019.8', '2019.9', '2019.10', '2019.11',
       '2019.12', '2019.13', '2019.14'],
      dtype='object', length=107)

In [53]:
tb_data1.loc[0]

시군구별(1)        시군구별(1)
보험료분위별(1)    보험료분위별(1)
2013                 계
2013.1               계
2013.2               계
               ...
2019.10             직장
2019.11             직장
2019.12             지역
2019.13             지역
2019.14             지역
Name: 0, Length: 107, dtype: object

In [54]:
tb_data4.columns

Index(['시군구별(1)', '보험료분위별(1)', '2013', '2013.1', '2013.2', '2013.3', '2013.4',
       '2013.5', '2013.6', '2013.7',
       ...
       '2019.5', '2019.6', '2019.7', '2019.8', '2019.9', '2019.10', '2019.11',
       '2019.12', '2019.13', '2019.14'],
      dtype='object', length=107)

In [55]:
total_data = pd.concat([tb_data1, tb_data2, tb_data3, tb_data4])

In [56]:
total_data

,시군구별(1),보험료분위별(1),2013,2013.1,2013.2,2013.3,2013.4,2013.5,2013.6,2013.7,...,2019.5,2019.6,2019.7,2019.8,2019.9,2019.10,2019.11,2019.12,2019.13,2019.14
0,시군구별(1),보험료분위별(1),계,계,계,직장,직장,직장,직장,직장,...,직장,직장,직장,직장,직장,직장,직장,지역,지역,지역
1,시군구별(1),보험료분위별(1),소계,소계,소계,소계,소계,소계,근로자,근로자,...,소계,근로자,근로자,근로자,공교,공교,공교,소계,소계,소계
2,시군구별(1),보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),...,적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명)
3,광주,계,588246,79882,1357778,384823,82390,965256,340452,76912,...,1004512,426445,104259,886302,46049,161916,118210,214239,86427,364753
4,광주,1분위,62886,18098,107772,41771,24564,84898,41501,24560,...,72754,44403,32527,72440,190,37566,314,20191,7462,24526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,제주,6분위,23062,68676,55727,11901,69425,29315,10939,69407,...,40871,18866,91381,36864,2200,91925,4007,12870,74773,24665
43,제주,7분위,19587,88819,50766,9463,85615,25758,8101,85565,...,41643,15776,110133,35107,3139,110876,6536,11961,102795,20808
44,제주,8분위,17190,115626,48490,8651,108916,27148,6414,108519,...,41194,12345,137122,30372,4065,139992,10822,12100,133708,24823
45,제주,9분위,17144,153237,54662,9911,145465,35550,6050,145756,...,50676,9967,181271,27505,7080,183965,23171,11140,188061,23779
46,제주,10분위,14574,266021,46558,7609,273228,27465,6126,292789,...,42327,10110,371634,30428,3825,245797,11899,11462,351741,26888

In [57]:
total_data["지역별 보험료 분위"] = total_data["시군구별(1)"] + total_data["보험료분위별(1)"]

In [58]:
total_data

,시군구별(1),보험료분위별(1),2013,2013.1,2013.2,2013.3,2013.4,2013.5,2013.6,2013.7,...,2019.6,2019.7,2019.8,2019.9,2019.10,2019.11,2019.12,2019.13,2019.14,지역별 보험료 분위
0,시군구별(1),보험료분위별(1),계,계,계,직장,직장,직장,직장,직장,...,직장,직장,직장,직장,직장,직장,지역,지역,지역,시군구별(1)보험료분위별(1)
1,시군구별(1),보험료분위별(1),소계,소계,소계,소계,소계,소계,근로자,근로자,...,근로자,근로자,근로자,공교,공교,공교,소계,소계,소계,시군구별(1)보험료분위별(1)
2,시군구별(1),보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),...,가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),시군구별(1)보험료분위별(1)
3,광주,계,588246,79882,1357778,384823,82390,965256,340452,76912,...,426445,104259,886302,46049,161916,118210,214239,86427,364753,광주계
4,광주,1분위,62886,18098,107772,41771,24564,84898,41501,24560,...,44403,32527,72440,190,37566,314,20191,7462,24526,광주1분위
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,제주,6분위,23062,68676,55727,11901,69425,29315,10939,69407,...,18866,91381,36864,2200,91925,4007,12870,74773,24665,제주6분위
43,제주,7분위,19587,88819,50766,9463,85615,25758,8101,85565,...,15776,110133,35107,3139,110876,6536,11961,102795,20808,제주7분위
44,제주,8분위,17190,115626,48490,8651,108916,27148,6414,108519,...,12345,137122,30372,4065,139992,10822,12100,133708,24823,제주8분위
45,제주,9분위,17144,153237,54662,9911,145465,35550,6050,145756,...,9967,181271,27505,7080,183965,23171,11140,188061,23779,제주9분위
46,제주,10분위,14574,266021,46558,7609,273228,27465,6126,292789,...,10110,371634,30428,3825,245797,11899,11462,351741,26888,제주10분위

In [59]:
total_data.drop("시군구별(1)", axis=1, inplace=True)
total_data.drop("보험료분위별(1)", axis=1, inplace=True)

In [60]:
total_data

,2013,2013.1,2013.2,2013.3,2013.4,2013.5,2013.6,2013.7,2013.8,2013.9,...,2019.6,2019.7,2019.8,2019.9,2019.10,2019.11,2019.12,2019.13,2019.14,지역별 보험료 분위
0,계,계,계,직장,직장,직장,직장,직장,직장,직장,...,직장,직장,직장,직장,직장,직장,지역,지역,지역,시군구별(1)보험료분위별(1)
1,소계,소계,소계,소계,소계,소계,근로자,근로자,근로자,공교,...,근로자,근로자,근로자,공교,공교,공교,소계,소계,소계,시군구별(1)보험료분위별(1)
2,세대수 (세대),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),...,가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),시군구별(1)보험료분위별(1)
3,588246,79882,1357778,384823,82390,965256,340452,76912,835202,44371,...,426445,104259,886302,46049,161916,118210,214239,86427,364753,광주계
4,62886,18098,107772,41771,24564,84898,41501,24560,84422,270,...,44403,32527,72440,190,37566,314,20191,7462,24526,광주1분위
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,23062,68676,55727,11901,69425,29315,10939,69407,27208,962,...,18866,91381,36864,2200,91925,4007,12870,74773,24665,제주6분위
43,19587,88819,50766,9463,85615,25758,8101,85565,22172,1362,...,15776,110133,35107,3139,110876,6536,11961,102795,20808,제주7분위
44,17190,115626,48490,8651,108916,27148,6414,108519,19646,2237,...,12345,137122,30372,4065,139992,10822,12100,133708,24823,제주8분위
45,17144,153237,54662,9911,145465,35550,6050,145756,20668,3861,...,9967,181271,27505,7080,183965,23171,11140,188061,23779,제주9분위
46,14574,266021,46558,7609,273228,27465,6126,292789,22030,1483,...,10110,371634,30428,3825,245797,11899,11462,351741,26888,제주10분위

In [61]:
total_data.columns

Index(['2013', '2013.1', '2013.2', '2013.3', '2013.4', '2013.5', '2013.6',
       '2013.7', '2013.8', '2013.9',
       ...
       '2019.6', '2019.7', '2019.8', '2019.9', '2019.10', '2019.11', '2019.12',
       '2019.13', '2019.14', '지역별 보험료 분위'],
      dtype='object', length=106)

In [62]:
total_data = total_data[['지역별 보험료 분위', 
                         '2013', '2013.1', '2013.2', 
                         '2014', '2014.1', '2014.2', 
                         '2015', '2015.1', '2015.2', 
                         '2016', '2016.1', '2016.2', 
                         '2017', '2017.1', '2017.2', 
                         '2018', '2018.1', '2018.2', 
                         '2019', '2019.1', '2019.2', 
                        ]]

In [63]:
total_data

,지역별 보험료 분위,2013,2013.1,2013.2,2014,2014.1,2014.2,2015,2015.1,2015.2,...,2016.2,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2
0,시군구별(1)보험료분위별(1),계,계,계,계,계,계,계,계,계,...,계,계,계,계,계,계,계,계,계,계
1,시군구별(1)보험료분위별(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,...,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계
2,시군구별(1)보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),...,적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명)
3,광주계,588246,79882,1357778,602837,84576,1374047,611500,87480,1361222,...,1364329,638672,95166,1364651,662140,481285,1363707,686733,102562,1369265
4,광주1분위,62886,18098,107772,62207,18111,104010,62350,19244,100713,...,98927,63482,20717,98868,66467,111815,102498,64784,24730,97280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,제주6분위,23062,68676,55727,24925,71625,58907,25769,74727,58557,...,59979,29573,81227,61797,31960,153891,63391,33936,85118,65536
43,제주7분위,19587,88819,50766,21680,92144,55040,23469,95700,57665,...,61182,28328,103026,64433,30215,198246,66158,30876,107366,62451
44,제주8분위,17190,115626,48490,20410,119603,57015,21370,124283,57946,...,60066,24453,133317,61934,26698,258821,64019,28510,136082,66017
45,제주9분위,17144,153237,54662,20219,158492,63811,21773,163767,67144,...,69785,25082,175074,72212,26975,352471,73354,28187,184631,74455
46,제주10분위,14574,266021,46558,17454,282016,54649,18992,277373,58838,...,64728,24405,304254,70609,24873,674527,69628,25397,343704,69215

In [64]:
total_data.drop(0, inplace = True)
total_data.drop(1, inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [65]:
total_data

,지역별 보험료 분위,2013,2013.1,2013.2,2014,2014.1,2014.2,2015,2015.1,2015.2,...,2016.2,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2
2,시군구별(1)보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),...,적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명)
3,광주계,588246,79882,1357778,602837,84576,1374047,611500,87480,1361222,...,1364329,638672,95166,1364651,662140,481285,1363707,686733,102562,1369265
4,광주1분위,62886,18098,107772,62207,18111,104010,62350,19244,100713,...,98927,63482,20717,98868,66467,111815,102498,64784,24730,97280
5,광주2분위,75689,26033,130082,83235,26400,140313,82908,28408,138474,...,137172,85157,31363,137134,74588,182594,123196,81033,39317,127528
6,광주3분위,61421,32820,107653,59258,35984,108014,60555,38231,106557,...,109030,66833,41374,112529,85515,186972,136738,87393,44586,137172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,제주6분위,23062,68676,55727,24925,71625,58907,25769,74727,58557,...,59979,29573,81227,61797,31960,153891,63391,33936,85118,65536
43,제주7분위,19587,88819,50766,21680,92144,55040,23469,95700,57665,...,61182,28328,103026,64433,30215,198246,66158,30876,107366,62451
44,제주8분위,17190,115626,48490,20410,119603,57015,21370,124283,57946,...,60066,24453,133317,61934,26698,258821,64019,28510,136082,66017
45,제주9분위,17144,153237,54662,20219,158492,63811,21773,163767,67144,...,69785,25082,175074,72212,26975,352471,73354,28187,184631,74455
46,제주10분위,14574,266021,46558,17454,282016,54649,18992,277373,58838,...,64728,24405,304254,70609,24873,674527,69628,25397,343704,69215

In [66]:
new_namedic = {}
for i in range(len(total_data.columns)): 
    new_name = total_data.columns[i].split('.')[0] + "년 " + total_data.iloc[0][i]
    if i == 0:
        new_name = total_data.columns[i]
    new_namedic[total_data.columns[i]] = new_name
    
total_data.rename(columns=new_namedic, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [67]:
total_data

,지역별 보험료 분위,2013년 세대수 (세대),2013년 평균보험료 (원),2013년 적용인구 (명),2014년 세대수 (세대),2014년 평균보험료 (원),2014년 적용인구 (명),2015년 세대수 (세대),2015년 평균보험료 (원),2015년 적용인구 (명),...,2016년 적용인구 (명),2017년 세대수 (세대),2017년 평균보험료 (원),2017년 적용인구 (명),2018년 세대수 (세대),2018년 평균보험료 (원),2018년 적용인구 (명),2019년 세대수 (세대),2019년 평균보험료 (원),2019년 적용인구 (명)
2,시군구별(1)보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),...,적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명)
3,광주계,588246,79882,1357778,602837,84576,1374047,611500,87480,1361222,...,1364329,638672,95166,1364651,662140,481285,1363707,686733,102562,1369265
4,광주1분위,62886,18098,107772,62207,18111,104010,62350,19244,100713,...,98927,63482,20717,98868,66467,111815,102498,64784,24730,97280
5,광주2분위,75689,26033,130082,83235,26400,140313,82908,28408,138474,...,137172,85157,31363,137134,74588,182594,123196,81033,39317,127528
6,광주3분위,61421,32820,107653,59258,35984,108014,60555,38231,106557,...,109030,66833,41374,112529,85515,186972,136738,87393,44586,137172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,제주6분위,23062,68676,55727,24925,71625,58907,25769,74727,58557,...,59979,29573,81227,61797,31960,153891,63391,33936,85118,65536
43,제주7분위,19587,88819,50766,21680,92144,55040,23469,95700,57665,...,61182,28328,103026,64433,30215,198246,66158,30876,107366,62451
44,제주8분위,17190,115626,48490,20410,119603,57015,21370,124283,57946,...,60066,24453,133317,61934,26698,258821,64019,28510,136082,66017
45,제주9분위,17144,153237,54662,20219,158492,63811,21773,163767,67144,...,69785,25082,175074,72212,26975,352471,73354,28187,184631,74455
46,제주10분위,14574,266021,46558,17454,282016,54649,18992,277373,58838,...,64728,24405,304254,70609,24873,674527,69628,25397,343704,69215

In [68]:
total_data.drop(2, inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [69]:
total_data

,지역별 보험료 분위,2013년 세대수 (세대),2013년 평균보험료 (원),2013년 적용인구 (명),2014년 세대수 (세대),2014년 평균보험료 (원),2014년 적용인구 (명),2015년 세대수 (세대),2015년 평균보험료 (원),2015년 적용인구 (명),...,2016년 적용인구 (명),2017년 세대수 (세대),2017년 평균보험료 (원),2017년 적용인구 (명),2018년 세대수 (세대),2018년 평균보험료 (원),2018년 적용인구 (명),2019년 세대수 (세대),2019년 평균보험료 (원),2019년 적용인구 (명)
3,광주계,588246,79882,1357778,602837,84576,1374047,611500,87480,1361222,...,1364329,638672,95166,1364651,662140,481285,1363707,686733,102562,1369265
4,광주1분위,62886,18098,107772,62207,18111,104010,62350,19244,100713,...,98927,63482,20717,98868,66467,111815,102498,64784,24730,97280
5,광주2분위,75689,26033,130082,83235,26400,140313,82908,28408,138474,...,137172,85157,31363,137134,74588,182594,123196,81033,39317,127528
6,광주3분위,61421,32820,107653,59258,35984,108014,60555,38231,106557,...,109030,66833,41374,112529,85515,186972,136738,87393,44586,137172
7,광주4분위,55131,42684,107919,55473,44553,105025,57228,46550,104265,...,103137,58497,51534,103302,60671,250963,102988,66259,55993,109156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,제주6분위,23062,68676,55727,24925,71625,58907,25769,74727,58557,...,59979,29573,81227,61797,31960,153891,63391,33936,85118,65536
43,제주7분위,19587,88819,50766,21680,92144,55040,23469,95700,57665,...,61182,28328,103026,64433,30215,198246,66158,30876,107366,62451
44,제주8분위,17190,115626,48490,20410,119603,57015,21370,124283,57946,...,60066,24453,133317,61934,26698,258821,64019,28510,136082,66017
45,제주9분위,17144,153237,54662,20219,158492,63811,21773,163767,67144,...,69785,25082,175074,72212,26975,352471,73354,28187,184631,74455
46,제주10분위,14574,266021,46558,17454,282016,54649,18992,277373,58838,...,64728,24405,304254,70609,24873,674527,69628,25397,343704,69215

In [70]:
total_data.reset_index(drop=True, inplace=True)

In [71]:
total_data

,지역별 보험료 분위,2013년 세대수 (세대),2013년 평균보험료 (원),2013년 적용인구 (명),2014년 세대수 (세대),2014년 평균보험료 (원),2014년 적용인구 (명),2015년 세대수 (세대),2015년 평균보험료 (원),2015년 적용인구 (명),...,2016년 적용인구 (명),2017년 세대수 (세대),2017년 평균보험료 (원),2017년 적용인구 (명),2018년 세대수 (세대),2018년 평균보험료 (원),2018년 적용인구 (명),2019년 세대수 (세대),2019년 평균보험료 (원),2019년 적용인구 (명)
0,광주계,588246,79882,1357778,602837,84576,1374047,611500,87480,1361222,...,1364329,638672,95166,1364651,662140,481285,1363707,686733,102562,1369265
1,광주1분위,62886,18098,107772,62207,18111,104010,62350,19244,100713,...,98927,63482,20717,98868,66467,111815,102498,64784,24730,97280
2,광주2분위,75689,26033,130082,83235,26400,140313,82908,28408,138474,...,137172,85157,31363,137134,74588,182594,123196,81033,39317,127528
3,광주3분위,61421,32820,107653,59258,35984,108014,60555,38231,106557,...,109030,66833,41374,112529,85515,186972,136738,87393,44586,137172
4,광주4분위,55131,42684,107919,55473,44553,105025,57228,46550,104265,...,103137,58497,51534,103302,60671,250963,102988,66259,55993,109156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,제주6분위,23062,68676,55727,24925,71625,58907,25769,74727,58557,...,59979,29573,81227,61797,31960,153891,63391,33936,85118,65536
172,제주7분위,19587,88819,50766,21680,92144,55040,23469,95700,57665,...,61182,28328,103026,64433,30215,198246,66158,30876,107366,62451
173,제주8분위,17190,115626,48490,20410,119603,57015,21370,124283,57946,...,60066,24453,133317,61934,26698,258821,64019,28510,136082,66017
174,제주9분위,17144,153237,54662,20219,158492,63811,21773,163767,67144,...,69785,25082,175074,72212,26975,352471,73354,28187,184631,74455
175,제주10분위,14574,266021,46558,17454,282016,54649,18992,277373,58838,...,64728,24405,304254,70609,24873,674527,69628,25397,343704,69215

In [72]:
total_data.to_csv("../Data/가구_Data/시군구별 건강보험료(13-19).csv")