In [139]:
import pandas as pd

In [140]:
df = pd.read_csv("../Data/주변환경_Data/원본_유흥시설 목록.csv",encoding='cp949',low_memory=False)

In [141]:
df.columns

Index(['번호', '개방서비스명', '개방서비스id', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총종업원수',
       '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액',
       '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지',
       'Unnamed: 47'],
      dtype='object')

In [142]:
df = df[df.영업상태명=='영업/정상']

In [143]:
df = df.drop(['개방자치단체코드','재개업일자','번호', '개방서비스명', '개방서비스id','관리번호', '인허가일자', 
         '인허가취소일자','영업상태구분코드', '영업상태명','사업장명','상세영업상태코드', 
         '상세영업상태명','폐업일자', '휴업시작일자', '휴업종료일자',
         '데이터갱신구분', '데이터갱신일자', '업태구분명','좌표정보(x)', '좌표정보(y)',
         '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수',
         '최종수정시점','홈페이지','남성종사자수', '여성종사자수','위생업태명','급수시설구분명',
        '건물소유구분명', '보증액','월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', 
         '전통업소주된음식', '홈페이지','등급구분명','총종업원수','Unnamed: 47','소재지면적','소재지전화',
        "소재지우편번호","도로명우편번호"],axis=1)

In [144]:
df = df.astype(str)

In [145]:
df.loc[df.소재지전체주소.str.contains('세종특별'),'소재지전체주소'] = '세종특별자치시 '

In [146]:
tmp = []
for i in (df.소재지전체주소.astype(str) + df.도로명전체주소.astype(str)):
      tmp.append(str(i.split(' ')[0]+" "+i.split(' ')[1]))

In [147]:
for i in range(len(tmp)):
    if 'nan' in tmp[i]:
         tmp[i]=tmp[i].replace("nan","")

In [148]:
df['주소']=tmp

In [149]:
df = df.drop(['소재지전체주소','도로명전체주소'],axis=1)

In [150]:
df=df.astype(str)

In [151]:
df.loc[df['영업장주변구분명']=='nan','영업장주변구분명'] = '미분류'

In [152]:
df2 = pd.DataFrame(df['영업장주변구분명'].groupby([df['주소'],df['영업장주변구분명']]).size())

In [153]:
df2['주소']= [df2.index[i][0] for i in range(1025)]
df2['영업장주변구분']= [df2.index[i][1] for i in range(1025)]

In [154]:
df2.reset_index(drop=True,inplace=True)

In [155]:
df2=df2[['주소','영업장주변구분','영업장주변구분명']]

In [156]:
df2.rename({"영업장주변구분명":"개수"},axis=1)

            주소   영업장주변구분   개수
0      강원도 강릉시        기타   48
1      강원도 강릉시       미분류   84
2      강원도 강릉시  유흥업소밀집지역   74
3      강원도 강릉시  학교정화(상대)    7
4      강원도 고성군        기타    4
...        ...       ...  ...
1020  충청북도 충주시        기타   37
1021  충청북도 충주시       미분류  106
1022  충청북도 충주시  유흥업소밀집지역   33
1023  충청북도 충주시  학교정화(상대)    6
1024  충청북도 충주시  학교정화(절대)    1

[1025 rows x 3 columns]

In [157]:
df2.loc[df2.주소.str.contains('세종'), "주소"] = '세종특별자치시'

In [158]:
df2.to_csv("../Data/주변환경_Data/수정본_유흥업소지역별현황.csv")