In [1]:
import pandas as pd

In [38]:
df = pd.read_csv("../Data/주변환경_Data/최종본_전국지하철역목록.csv")

In [39]:
df

,Unnamed: 0,역번호,역사명,노선번호,노선명,환승역구분,환승노선번호,환승노선명,역위도,역경도,주소,시도코드,시군구코드,법정동코드,환승노선개수
0,0,0150,서울역,S1101,서울 도시철도 1호선,환승역,S1104+I4107,서울 도시철도 4호선+경의중앙선,37.555753,126.972456,서울특별시 중구,11,11020,1114000000,2
1,1,0151,시청,S1101,서울 도시철도 1호선,환승역,S1102,서울 도시철도 2호선,37.564717,126.976751,서울특별시 중구,11,11020,1114000000,1
2,2,0152,종각,S1101,서울 도시철도 1호선,일반역,NaN,NaN,37.570203,126.982948,서울특별시 종로구,11,11010,1111000000,0
3,3,0153,종로3가,S1101,서울 도시철도 1호선,환승역,S1103+S1105,서울 도시철도 3호선+서울 도시철도 5호선,37.571394,126.991411,서울특별시 종로구,11,11010,1111000000,2
4,4,0154,종로5가,S1101,서울 도시철도 1호선,일반역,NaN,NaN,37.571007,127.001799,서울특별시 종로구,11,11010,1111000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,1010,Y120,운동장-송담대역,T4101,에버라인,일반역,NaN,NaN,37.237891,127.209046,경기도 용인시,31,31191,4146000000,0
1011,1011,Y121,고진역,T4101,에버라인,일반역,NaN,NaN,37.244643,127.214168,경기도 용인시,31,31191,4146000000,0
1012,1012,Y122,보평역,T4101,에버라인,일반역,NaN,NaN,37.258947,127.218533,경기도 용인시,31,31191,4146000000,0
1013,1013,Y123,둔전역,T4101,에버라인,일반역,NaN,NaN,37.267201,127.213619,경기도 용인시,31,31191,4146000000,0
1014,1014,Y124,전대-에버랜드역,T4101,에버라인,일반역,NaN,NaN,37.285405,127.219491,경기도 용인시,31,31191,4146000000,0

In [27]:
ea = []

In [28]:
for i in df.환승노선명.values:
    try:
        if i == '-':
            ea.append(0)
        elif i =='N':
            ea.append(0)
        else:
            ea.append(len(i.split("+")))
        
    except:
        ea.append(0)

In [29]:
df.환승노선명.values

array(['서울 도시철도 4호선+경의중앙선', '서울 도시철도 2호선', nan, ..., nan, nan, nan],
      dtype=object)

In [32]:
df['환승노선개수'] = ea

In [35]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [37]:
df.to_csv("../Data/주변환경_Data/최종본_전국지하철역목록.csv")