In [1]:
from urllib.parse import quote_plus, urlencode
from urllib.request import urlopen, Request
import xml.etree.ElementTree as ET
import json
import pandas as pd
import numpy as np
import os
import glob
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
df=pd.read_excel('number/adm_code.xls', usecols=[0,1,2,3], header=1)
df.head()

   시도코드   시도명칭  시군구코드 시군구명칭
0    11  서울특별시  11010   종로구
1    11  서울특별시  11010   종로구
2    11  서울특별시  11010   종로구
3    11  서울특별시  11010   종로구
4    11  서울특별시  11010   종로구

In [3]:
imd=[]
for i in range(len(df)):
    st=df['시군구명칭'][i].split(' ')[0]
    if st=='세종시' :
        imd.append('세종특별자치시')
    else:
        imd.append(st)
len(imd)
df['법정동명']= df['시도명칭']+' ' + imd

3493

In [4]:
df=df.drop_duplicates(['법정동명'])
df

      시도코드     시도명칭  시군구코드 시군구명칭          법정동명
0       11    서울특별시  11010   종로구     서울특별시 종로구
17      11    서울특별시  11020    중구      서울특별시 중구
32      11    서울특별시  11030   용산구     서울특별시 용산구
48      11    서울특별시  11040   성동구     서울특별시 성동구
65      11    서울특별시  11050   광진구     서울특별시 광진구
...    ...      ...    ...   ...           ...
3410    38     경상남도  38380   함양군      경상남도 함양군
3421    38     경상남도  38390   거창군      경상남도 거창군
3433    38     경상남도  38400   합천군      경상남도 합천군
3450    39  제주특별자치도  39010   제주시   제주특별자치도 제주시
3476    39  제주특별자치도  39020  서귀포시  제주특별자치도 서귀포시

[229 rows x 5 columns]

In [5]:
df=df.reset_index(drop=True)

In [6]:
df.drop(['시도명칭', '시군구명칭'], axis=1, inplace =True)

In [28]:
df = df.astype(str)

In [8]:
df.to_csv('result/시군구코드_최종.csv')

In [9]:
df_b=pd.read_csv('result/법정동코드_최종본.csv', encoding='utf-8', index_col=0)
df_b
len(df_b)

          법정동코드          법정동명 폐지여부
0    1111000000     서울특별시 종로구   존재
1    1114000000      서울특별시 중구   존재
2    1117000000     서울특별시 용산구   존재
3    1120000000     서울특별시 성동구   존재
4    1121500000     서울특별시 광진구   존재
..          ...           ...  ...
224  4887000000      경상남도 함양군   존재
225  4888000000      경상남도 거창군   존재
226  4889000000      경상남도 합천군   존재
227  5011000000   제주특별자치도 제주시   존재
228  5013000000  제주특별자치도 서귀포시   존재

[229 rows x 3 columns]

229

In [10]:
ind=[]

for i in range(len(df_b)):
    if len(df_b['법정동명'][i].split(' '))<=1:
        st=df_b['법정동명'][i].split(' ')[0]
        ind.append(st)
    else :
        st=df_b['법정동명'][i].split(' ')[1]
        ind.append(st)
 
len(ind)
df_b['시군구']=ind

229

In [29]:
df_b = df_b.astype(str)

In [30]:
set1=set(imd)
set2= set(ind)

In [31]:
len(set1.intersection(set2))
len(set2.intersection(set1))

207

207

In [32]:
set1.difference(set2)
set2.difference(set1)

set()

set()

In [33]:
tmp = df_b.sort_values(by='법정동명')
tmp2 = df.sort_values(by='법정동명')

In [34]:
for i in df_b['법정동명']:
    if i not in df.법정동명:
        print(i)

서울특별시 종로구
서울특별시 중구
서울특별시 용산구
서울특별시 성동구
서울특별시 광진구
서울특별시 동대문구
서울특별시 중랑구
서울특별시 성북구
서울특별시 강북구
서울특별시 도봉구
서울특별시 노원구
서울특별시 은평구
서울특별시 서대문구
서울특별시 마포구
서울특별시 양천구
서울특별시 강서구
서울특별시 구로구
서울특별시 금천구
서울특별시 영등포구
서울특별시 동작구
서울특별시 관악구
서울특별시 서초구
서울특별시 강남구
서울특별시 송파구
서울특별시 강동구
부산광역시 중구
부산광역시 서구
부산광역시 동구
부산광역시 영도구
부산광역시 부산진구
부산광역시 동래구
부산광역시 남구
부산광역시 북구
부산광역시 해운대구
부산광역시 사하구
부산광역시 금정구
부산광역시 강서구
부산광역시 연제구
부산광역시 수영구
부산광역시 사상구
부산광역시 기장군
대구광역시 중구
대구광역시 동구
대구광역시 서구
대구광역시 남구
대구광역시 북구
대구광역시 수성구
대구광역시 달서구
대구광역시 달성군
인천광역시 중구
인천광역시 동구
인천광역시 미추홀구
인천광역시 연수구
인천광역시 남동구
인천광역시 부평구
인천광역시 계양구
인천광역시 서구
인천광역시 강화군
인천광역시 옹진군
광주광역시 동구
광주광역시 서구
광주광역시 남구
광주광역시 북구
광주광역시 광산구
대전광역시 동구
대전광역시 중구
대전광역시 서구
대전광역시 유성구
대전광역시 대덕구
울산광역시 중구
울산광역시 남구
울산광역시 동구
울산광역시 북구
울산광역시 울주군
세종특별자치시
경기도 수원시
경기도 성남시
경기도 의정부시
경기도 안양시
경기도 부천시
경기도 광명시
경기도 평택시
경기도 동두천시
경기도 안산시
경기도 고양시
경기도 과천시
경기도 구리시
경기도 남양주시
경기도 오산시
경기도 시흥시
경기도 군포시
경기도 의왕시
경기도 하남시
경기도 용인시
경기도 파주시
경기도 이천시
경기도 안성시
경기도 김포시
경기도 화성시
경기도 광주시
경기도 양주시
경기도 포천시
경기도 여주시
경기도 연천군
경기도 가평군
경기도 양평군
강원도 춘천시
강원도 원주시
강원도 강릉시
강원도 동해시
강원도 태백시
강원도 속초시
강원도 삼척시
강원도 홍천군
강원도 횡성군
강원도 영월군
강원도 평창군
강원도 정선군
강원도 철원군
강원도 화천군
강원도 양구군
강원도 인제군
강원도 고성군
강원도 양양군
충청북도 청주시
충청북도 충주시
충청북도 제천시
충청북도 보은군
충청북도 옥천군
충청북도 영동군
충청북도 증평군
충청북도 진천군
충청북도 괴산군
충청북도 음성군
충청북도 단양군
충청남도 천안시
충청남도 공주시
충청남도 보령시
충청남도 아산시
충청남도 서산시
충청남도 논산시
충청남도 계룡시
충청남도 당진시
충청남도 금산군
충청남도 부여군
충청남도 서천군
충청남도 청양군
충청남도 홍성군
충청남도 예산군
충청남도 태안군
전라북도 전주시
전라북도 군산시
전라북도 익산시
전라북도 정읍시
전라북도 남원시
전라북도 김제시
전라북도 완주군
전라북도 진안군
전라북도 무주군
전라북도 장수군
전라북도 임실군
전라북도 순창군
전라북도 고창군
전라북도 부안군
전라남도 목포시
전라남도 여수시
전라남도 순천시
전라남도 나주시
전라남도 광양시
전라남도 담양군
전라남도 곡성군
전라남도 구례군
전라남도 고흥군
전라남도 보성군
전라남도 화순군
전라남도 장흥군
전라남도 강진군
전라남도 해남군
전라남도 영암군
전라남도 무안군
전라남도 함평군
전라남도 영광군
전라남도 장성군
전라남도 완도군
전라남도 진도군
전라남도 신안군
경상북도 포항시
경상북도 경주시
경상북도 김천시
경상북도 안동시
경상북도 구미시
경상북도 영주시
경상북도 영천시
경상북도 상주시
경상북도 문경시
경상북도 경산시
경상북도 군위군
경상북도 의성군
경상북도 청송군
경상북도 영양군
경상북도 영덕군
경상북도 청도군
경상북도 고령군
경상북도 성주군
경상북도 칠곡군
경상북도 예천군
경상북도 봉화군
경상북도 울진군
경상북도 울릉군
경상남도 창원시
경상남도 진주시
경상남도 통영시
경상남도 사천시
경상남도 김해시
경상남도 밀양시
경상남도 거제시
경상남도 양산시
경상남도 의령군
경상남도 함안군
경상남도 창녕군
경상남도 고성군
경상남도 남해군
경상남도 하동군
경상남도 산청군
경상남도 함양군
경상남도 거창군
경상남도 합천군
제주특별자치도 제주시
제주특별자치도 서귀포시

In [35]:
df_b

          법정동코드          법정동명 폐지여부   시군구
0    1111000000     서울특별시 종로구   존재   종로구
1    1114000000      서울특별시 중구   존재    중구
2    1117000000     서울특별시 용산구   존재   용산구
3    1120000000     서울특별시 성동구   존재   성동구
4    1121500000     서울특별시 광진구   존재   광진구
..          ...           ...  ...   ...
224  4887000000      경상남도 함양군   존재   함양군
225  4888000000      경상남도 거창군   존재   거창군
226  4889000000      경상남도 합천군   존재   합천군
227  5011000000   제주특별자치도 제주시   존재   제주시
228  5013000000  제주특별자치도 서귀포시   존재  서귀포시

[229 rows x 4 columns]

In [36]:
df_m = pd.merge(df, df_b, how='right', on='법정동명')
df_m

    시도코드  시군구코드          법정동명       법정동코드 폐지여부   시군구
0     11  11010     서울특별시 종로구  1111000000   존재   종로구
1     11  11020      서울특별시 중구  1114000000   존재    중구
2     11  11030     서울특별시 용산구  1117000000   존재   용산구
3     11  11040     서울특별시 성동구  1120000000   존재   성동구
4     11  11050     서울특별시 광진구  1121500000   존재   광진구
..   ...    ...           ...         ...  ...   ...
224   38  38380      경상남도 함양군  4887000000   존재   함양군
225   38  38390      경상남도 거창군  4888000000   존재   거창군
226   38  38400      경상남도 합천군  4889000000   존재   합천군
227   39  39010   제주특별자치도 제주시  5011000000   존재   제주시
228   39  39020  제주특별자치도 서귀포시  5013000000   존재  서귀포시

[229 rows x 6 columns]

In [47]:

df_m.drop(['폐지여부','시군구'],axis=1).to_csv('../Data/법정동_Data/법정동코드+시군구코드.csv')

In [46]:
for i in df_m.법정동명.value_counts().index:
    print(i)

인천광역시 동구
강원도 화천군
서울특별시 노원구
서울특별시 종로구
충청남도 서천군
경상북도 성주군
강원도 강릉시
전라북도 익산시
경상북도 울릉군
경상남도 하동군
충청남도 청양군
강원도 원주시
경기도 남양주시
경기도 이천시
충청북도 보은군
경기도 화성시
대전광역시 서구
경상북도 상주시
충청북도 진천군
전라남도 완도군
서울특별시 도봉구
강원도 태백시
경기도 양주시
인천광역시 연수구
서울특별시 강북구
서울특별시 강동구
경기도 의정부시
인천광역시 미추홀구
경기도 광명시
경상남도 진주시
전라남도 화순군
부산광역시 영도구
서울특별시 금천구
전라북도 진안군
대전광역시 동구
경상북도 울진군
경상북도 예천군
충청남도 계룡시
강원도 철원군
경기도 평택시
강원도 동해시
경상남도 의령군
경기도 파주시
제주특별자치도 제주시
경상북도 영덕군
부산광역시 금정구
경기도 시흥시
서울특별시 성북구
강원도 삼척시
전라북도 전주시
충청북도 음성군
경상북도 김천시
부산광역시 연제구
서울특별시 성동구
경상북도 구미시
경기도 고양시
전라북도 임실군
강원도 영월군
전라북도 완주군
경상북도 영천시
대전광역시 대덕구
대구광역시 수성구
경상북도 청송군
경상북도 안동시
충청남도 금산군
충청북도 단양군
강원도 속초시
서울특별시 은평구
경기도 수원시
서울특별시 동작구
부산광역시 남구
경기도 동두천시
강원도 평창군
인천광역시 옹진군
충청북도 충주시
인천광역시 중구
부산광역시 동구
전라북도 장수군
인천광역시 계양구
경상북도 문경시
전라북도 부안군
경기도 구리시
전라북도 고창군
전라남도 무안군
부산광역시 수영구
전라남도 함평군
경기도 김포시
전라남도 여수시
전라북도 무주군
서울특별시 강남구
서울특별시 마포구
경기도 성남시
대구광역시 서구
경상남도 거제시
경기도 하남시
대구광역시 남구
충청남도 당진시
광주광역시 남구
경상남도 남해군
부산광역시 사상구
경기도 안산시
제주특별자치도 서귀포시
대구광역시 북구
서울특별시 동대문구
충청북도 제천시
전라남도 장흥군
세종특별자치시
충청남도 부여군
강원도 홍천군
전라북도 김제시
경기도 광주시
부산광역시 사하구
강원도 양양군
서울특별시 관악구
경기도 안양시
경기도 용인시
경상남도 합천군
전라남도 구례군
경기도 부천시
경기도 안성시
울산광역시 중구
강원도 횡성군
광주광역시 북구
강원도 고성군
부산광역시 북구
광주광역시 서구
경상남도 창원시
서울특별시 중구
충청남도 서산시
경기도 양평군
대전광역시 중구
서울특별시 송파구
서울특별시 서초구
전라남도 담양군
울산광역시 남구
광주광역시 동구
부산광역시 동래구
전라남도 나주시
서울특별시 광진구
전라북도 군산시
경상남도 함안군
경상북도 영양군
전라남도 광양시
대구광역시 중구
서울특별시 구로구
전라남도 순천시
부산광역시 중구
경상남도 사천시
경상북도 경산시
충청북도 증평군
경상북도 의성군
전라남도 보성군
서울특별시 강서구
충청북도 영동군
충청남도 논산시
경기도 연천군
대구광역시 달성군
충청북도 괴산군
경상북도 고령군
대전광역시 유성구
충청남도 천안시
경상남도 김해시
강원도 춘천시
경상북도 봉화군
대구광역시 달서구
전라남도 장성군
전라남도 고흥군
서울특별시 서대문구
울산광역시 울주군
전라북도 남원시
강원도 정선군
충청남도 보령시
충청북도 청주시
전라남도 영암군
대구광역시 동구
충청북도 옥천군
부산광역시 해운대구
경상북도 칠곡군
전라남도 강진군
전라북도 순창군
전라남도 영광군
경기도 군포시
경기도 가평군
전라남도 곡성군
부산광역시 강서구
전라남도 신안군
경상남도 창녕군
경상북도 포항시
인천광역시 남동구
부산광역시 부산진구
전라남도 진도군
충청남도 공주시
경상북도 청도군
충청남도 아산시
경기도 오산시
경기도 포천시
경상북도 경주시
경기도 의왕시
서울특별시 용산구
경상남도 거창군
전라남도 목포시
울산광역시 동구
경상남도 산청군
인천광역시 강화군
전라남도 해남군
전라북도 정읍시
경기도 과천시
광주광역시 광산구
충청남도 예산군
경상북도 영주시
서울특별시 중랑구
경상남도 양산시
충청남도 홍성군
울산광역시 북구
강원도 인제군
부산광역시 기장군
경상남도 통영시
경상남도 밀양시
경상북도 군위군
서울특별시 양천구
충청남도 태안군
서울특별시 영등포구
경기도 여주시
강원도 양구군
부산광역시 서구
경상남도 고성군
인천광역시 부평구
경상남도 함양군
인천광역시 서구

In [38]:
# df_m[df_m['시군구명칭'].isnull()]